.block-1{
	padding: 230px 5% 40px;
	color: $blanco;
	@extend .overflow-hidden;
	@extend .relative;
	@include clearfix;
	.content{
		@extend .z-index-3;
		@extend .relative;
		@extend .transition-slower;
		.date{
			@extend .font-14;
		}
		.title{
			@extend .font-21;
			@extend .bold;
		}
		.description{
			margin-top: 10px;
			@include opacity(0);
			@extend .transition;
			@extend .absolute;
		}
	}
	.button{
		background-color: $blanco;
		color: $negro;
		bottom: 0;
		left: 5%;
		@extend .transition-slow;
		@extend .absolute;
		@extend .z-index-3;
		@include opacity(0);
	}
	.photo{
		@extend .transition-slower;
	}
	.categories{
		width: 100%;
		padding: 20px 5% 0;
		top: 0;
		left: 0;
		@extend .transition;
		@extend .absolute;
		@extend .z-index-3;
		span{
			background-color: $blanco;
			color: $negro;
			margin: 0 5px 5px 0;
			padding: 5px 10px;
			@extend .left;
			@extend .uppercase;
			@extend .bold;
			@extend .font-10;
		}
	}
	.veil{
		background-color: rgba($negro, 0.4);
		@extend .transition-slow;
	}
	&:hover{
		.content{
			@include translateY(calc(-100% - 50px));
			.description{
				@include opacity(1);
			}
		}
		.button{
			bottom: 20px;
			@include opacity(1);
		}
		.photo{
			@include scale(1.2);
		}
		.categories{
			@include opacity(0);
		}
		.veil{
			background-color: rgba($negro, 0.7);
		}
	}
}

@media (max-width: $breakpoint-tablet){
	.block-1{
		.content{
			@include translateY(-50px);
			.description{
				display: none;
			}
		}
		.button{
			opacity: 1 !important;
			bottom: 20px;
		}
		.categories{
			span{
				font-size: 10px;
			}
		}
		&:hover{
			.content{
				@include translateY(-50px);
			}
			.button{
			}
		}
	}
}
