.block-4{
	padding: 180px 10%;
	color: $blanco;
	@extend .col-100;
	@extend .left;
	@extend .relative;
	@include clearfix();
	.content{
		@extend .z-index-3;
		@extend .relative;
		@extend .wrap-m;
		p{
			margin-bottom: 20px;
			@extend .font-24;
			@extend .bold;
			@extend .italic;
			&:last-child{
				margin-bottom: 0;
			}
			&.author{
				font-style: inherit;
				margin: 45px 0 0;
				@extend .font-17;
				@extend .text-right;
			}
		}
	}
	.veil{
		background-color: rgba($negro, 0.5);
	}
}
