.error-screen {
    position: relative;
    height: 100%;
    .bg-image {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        .veil {
            &:before {
                mask-image: url(img/corner-left.svg);
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: rgba($verde-claro, 0.75);
                width: 110%;
                height: 40%;
                position: absolute;
                left: 0;
                bottom: 0;
                top: auto;
                display: block;
                content: "";
                transform: rotate3d(0, 0, 1, 180deg);
                z-index: 3;
            }
        }
    }
    .wrap-xl {
        position: relative;
        z-index: 2;
        height: 100%;
        max-width: 100%;
        .content-area {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .content {
                width: 90%;
                margin: 0 auto;
                max-width: 760px;
                h1 {
                    font-family: $extra-font;
                    @extend .font-100;
                    @extend .uppercase;
                    @extend .bold;
                    color: $blanco;
                }
                .intro {
                    font-family: $extra-font;
                    @extend .font-24;
                    @extend .bold;
                    color: $blanco;
                    width: 100%;
                    max-width: 45%;
                    margin: 30px 0 10px;
                }
                .bajada {
                    @extend .font-18;
                    color: $blanco;
                    width: 100%;
                    max-width: 45%;
                    margin: 10px 0 30px;
                }
                .exits-area {
                    @extend .flex;
                    @extend .align-center;
                    @extend .justify-between;
                    width: 100%;
                    .home-link {
                        margin-right: 20px;
                    }
                    .search-form {
                        flex-grow: 1;
                        .search-input-area {
                            width: 100%;
                            height: 50px;
                            position: relative;
                            input {
                                border-radius: 100rem;
                                width: 100%;
                                height: 100%;
                                background-color: $gris-1;
                                padding: 0.5rem 2rem;
                                font-size: 18px;
                            }
                            .btn-search {
                                background-color: $verde-claro;
                                font-size: 24px;
                                color: $blanco;
                                width: max-content;
                                position: absolute;
                                z-index: 2;
                                right: 5px;
                                top: 5px;
                                height: 40px;
                                padding: 1rem 1.5rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 100rem;
                                &:hover {
                                    background-color: $blanco;
                                    color: $verde-claro;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
