$blanco: #fff;
$negro: #000;
$azul-oscuro: #071742;
$amarillo: #fab900;
$verde-claro: #5ab031;
$verde-oscuro: #044e31;
$burdeo: #ae023c;
$celeste: #0086c7;
$gris-1: #dddddd;
$gris-2: #535353;
$gris-3: #f5f5f5;
$gris-4: #e8e8e8;
$rojo-alert: #ae0a3b;
$verde-luz: #f4ffef;
