.conecta-heading {
    @extend .relative;
    @extend .align-end;
    .content {
        width: 100%;
        max-width: 740px;
        padding: 60px 40px 40px;
        position: relative;
        z-index: 4;
        h1 {
            color: $blanco;
            @extend .font-50;
            @extend .uppercase;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span {
                display: inline-block;
                margin-right: 20px;
            }
        }
        .intro-page {
            margin-top: 130px;
            h2 {
                color: $blanco;
                @extend .font-26;
                margin-bottom: 20px;
            }
            p {
                color: $blanco;
                @extend .font-16;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.content-page-area {
    .wysiwyg {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $verde-claro;
        }
        p {
            @extend .font-14;
        }
        h1 {
            @extend .font-28;
        }
        h2 {
            @extend .font-26;
        }
        h3 {
            @extend .font-24;
        }
        h4 {
            @extend .font-21;
        }
        h5 {
            @extend .font-18;
        }
        h6 {
            @extend .font-16;
        }
    }
    .block-content {
        width: 100%;
        max-width: 740px;
        padding: 40px;
        position: relative;
        .feat-block {
            overflow: hidden;
            @extend .border-radius-m;
            width: 165%;
            background-color: $verde-luz;
            @extend .flex;
            @extend .align-center;
            @extend .justify-between;
            @extend .box-shadow;
            margin: 50px 0;
            & > div {
                align-self: stretch;
            }
            .feat-content {
                padding: 50px 60px 50px 40px;
                width: 51%;
                .title {
                    color: $verde-oscuro;
                    @extend .font-26;
                    font-family: $extra_font;
                    margin-bottom: 30px;
                    @extend .bold;
                }
                p {
                    @extend .font-14;
                }
                *:last-child {
                    margin-bottom: 0;
                }
            }
            .feat-image {
                width: 49%;
                position: relative;
                .photo {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .small-group {
            margin: 50px 0;
            .person-box {
                .person-img {
                    width: 140px;
                    height: 140px;
                }
                .person-info {
                    .nombre {
                        color: $negro;
                    }
                }
            }
        }
    }
}
