.consumo-heading {
    @extend .relative;
    @extend .align-end;
    .content {
        width: 90%;
        padding: 90px 30px 40px;
        position: relative;
        z-index: 4;
        h1 {
            color: $blanco;
            @extend .font-50;
            @extend .uppercase;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span {
                display: inline-block;
                margin-right: 20px;
            }
        }
        .intro-page {
            margin-top: 35px;
            h2 {
                color: $blanco;
                @extend .font-26;
                margin-bottom: 20px;
            }
            p {
                color: $blanco;
                @extend .font-16;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &:before {
        mask-image: url(img/corner-left.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: rgba($verde-oscuro, 0.8);
        width: 100.1%;
        height: 100%;
        position: absolute;
        left: -1px;
        bottom: 0;
        top: auto;
        display: block;
        content: "";
        transform: rotate3d(1, 0, 0, 180deg);
        z-index: 3;
    }
}
.content-page-area-consumo {
    .wysiwyg {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $verde-oscuro;
        }
        p {
            @extend .font-14;
        }
        h1 {
            @extend .font-28;
        }
        h2 {
            @extend .font-26;
        }
        h3 {
            @extend .font-24;
        }
        h4 {
            @extend .font-21;
        }
        h5 {
            @extend .font-18;
        }
        h6 {
            @extend .font-16;
        }
    }
    .block-content {
        width: 100%;
        max-width: 720px;
        padding: 30px;
        position: relative;
        .feat-block {
            overflow: hidden;
            @extend .border-radius-m;
            width: 165%;
            background-color: $verde-luz;
            @extend .flex;
            @extend .align-center;
            @extend .justify-between;
            @extend .box-shadow;
            margin: 50px 0;
            & > div {
                align-self: stretch;
            }
            .feat-content {
                padding: 50px 60px 50px 40px;
                width: 51%;
                .title {
                    color: $verde-oscuro;
                    @extend .font-26;
                    font-family: $extra_font;
                    margin-bottom: 30px;
                    @extend .bold;
                }
                p {
                    @extend .font-14;
                }
                *:last-child {
                    margin-bottom: 0;
                }
            }
            .feat-image {
                width: 49%;
                position: relative;
                .photo {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .small-group {
            margin: 50px 0;
            .person-box {
                .person-img {
                    width: 140px;
                    height: 140px;
                }
                .person-info {
                    .nombre {
                        color: $negro;
                    }
                }
            }
        }
    }
    .politica-consumo {
        p {
            margin-bottom: 15px;
            @extend .font-24;
            color: $verde-oscuro;
            @extend .bold;
        }
    }
}
#campanas-timeline {
    overflow: hidden;
    clear: both;
    .slider-3-container {
        overflow: hidden;
        @extend .border-radius-xl;
        .slider-3 {
            .slide {
                .content {
                    padding: 100px 30px 30px;
                    color: $blanco;
                    @extend .flex;
                    @extend .justify-center;
                    @extend .align-center;
                    @extend .col-100;
                    @extend .z-index-3;
                    @extend .relative;
                    .image-area {
                        align-self: stretch;
                        overflow: hidden;
                        @extend .border-radius-xl;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .pre-title {
                        @extend .font-18;
                    }
                    .year {
                        margin: 10px 0 20px;
                        @extend .font-50;
                        @extend .bold;
                    }
                    .title {
                        @extend .font-18;
                        @extend .extra-bold;
                        @extend .uppercase;
                    }
                    .description {
                        @extend .font-13;
                        margin: 20px 0 0;
                        padding: 20px 0 0;
                        border-top: 1px solid $verde-claro;
                    }
                    .button {
                        background-color: $blanco;
                        color: $negro;
                        display: inline-block;
                        margin-top: 40px;
                        @extend .bold;
                        @extend .uppercase;
                        @extend .transition;
                        &:hover {
                            background-color: $negro;
                            color: $blanco;
                        }
                    }
                }
                .veil {
                    background-color: rgba($verde-oscuro, 0.95);
                }
            }
            ul.slick-dots {
                width: 10px;
                top: 50%;
                right: 10%;
                li {
                    margin: 2.5px 0;
                }
            }
            .slick-prev {
                left: 25%;
            }
            .slick-next {
                right: 20%;
            }
        }
        .slider-nav-3 {
            color: $blanco;
            left: 0;
            top: 30px;
            width: 100%;
            height: 60px;
            @extend .z-index-4;
            @extend .absolute;
            .slick-list {
                height: 100% !important;
                padding-left: 0 !important;
                li {
                    padding: 0 10px 7px;
                    cursor: pointer;
                    border-bottom: 2px solid $verde-claro;
                    text-align: center;
                    @extend .font-20;
                    @extend .bold;
                    @extend .relative;
                    @extend .transition;
                    span {
                        padding: 8px 15px;
                        background-color: $verde-oscuro;
                        color: $blanco;
                        font-family: $extra-font;
                        font-size: 10px;
                        border-radius: 100px;
                        @extend .transition;
                    }
                    &:after {
                        width: 2px;
                        height: 12px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        bottom: -7px;
                        background-color: $verde-claro;
                        content: "";
                        @extend .transition;
                        @extend .absolute;
                    }
                    &:hover,
                    &.slick-current {
                        span {
                            background-color: $verde-claro;
                        }
                        &:after {
                            width: 8px;
                            height: 8px;
                            bottom: -5px;
                            border-radius: 100px;
                        }
                    }
                }
            }
        }
    }

    // @media (max-width: $breakpoint-tablet) {
    //     .slider-3-container {
    //         .slider-3 {
    //             .slide {
    //                 .content {
    //                     padding: 120px 10% 200px;
    //                     width: 100%;
    //                 }
    //             }
    //         }
    //         .slider-nav-3 {
    //             right: 0;
    //             width: 100%;
    //             top: inherit;
    //             bottom: 50px;
    //             height: auto;
    //             .slick-list {
    //                 height: 100% !important;
    //                 padding-left: 10px !important;
    //                 li {
    //                     border: none;
    //                     padding: 20px 0 40px;
    //                     text-align: center;
    //                     &::after {
    //                         left: 0;
    //                         top: inherit;
    //                         bottom: 15px;
    //                         right: 0;
    //                         margin: auto;
    //                     }
    //                 }
    //             }
    //             &::after {
    //                 width: 100%;
    //                 height: 1px;
    //                 background-color: rgba($blanco, 0.25);
    //                 content: "";
    //                 bottom: 20px;
    //                 position: absolute;
    //             }
    //         }
    //     }
    // }
}
.form-link-area {
    margin: 80px 0 60px;
    .form-link-box {
        @extend .flex;
        @extend .justify-between;
        @extend .align-end;
        width: 100%;
        padding: 25px 30px;
        @extend .border-radius-m;
        border: 1px solid $verde-claro;
        background-color: $blanco;
        @extend .box-shadow;
        .content {
            color: $verde-claro;
            width: 55%;
            h4 {
                @extend .font-24;
                margin-bottom: 20px;
            }
            p {
                @extend .font-14;
            }
        }
    }
}
/*---------------------------------- CONSUMO RESPONSABLE - Gráfica */
.grafico-consumo {
    width: 100%;
    background-color: $blanco;
    overflow: hidden;
    @extend .box-shadow;
    @extend .border-radius-m;
    margin-bottom: 50px;
}
.consumo-responsable {
    background-color: $blanco;
    padding: 30px;
    width: 90%;
    margin: 0 auto 0;
    z-index: 2;
    .pieContainer {
        height: 60vh;
        width: 60vh;
        position: relative;
        margin: 15vh auto;
        left: 0;
        &.activePie {
            left: -20vh;
            transform: scale(0.68);
        }
        .pieBackground {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        .hold {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 50% 0);
            clip-path: polygon(100% 0, 100% 100%, 50% 100%, 50% 0);
            .pie {
                transition: all 1s;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                -webkit-clip-path: polygon(50% 0, 50% 100%, 0 100%, 0 0);
                clip-path: polygon(50% 0, 50% 100%, 0 100%, 0 0);
            }
        }
        .innerCircle {
            display: flex;
            position: absolute;
            width: 88%;
            height: 88%;
            background-color: #fff;
            border-radius: 100%;
            top: 6%;
            left: 6%;
            color: white;
            justify-content: center;
            align-items: center;
            .content {
                display: block;
                width: 80%;
                text-align: center;
                font-size: 3.5vh;
                color: #005f40;
                padding-top: 8vh;
                background-image: url("img/logo-ccu-c.svg");
                background-repeat: no-repeat;
                background-position: center top;
                background-size: auto 5vh;
                b {
                    font-weight: 800;
                }
            }
        }
        .circle-container-icons {
            left: -10vh;
            top: -10vh;
            position: relative;
            width: 80vh;
            height: 80vh;
            border-radius: 50%;
            padding: 0;
            list-style: none;
            float: left;
            li {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -50px;
                width: 100px;
                height: 100px;
                cursor: pointer;
                text-align: center;
                font-size: 2vh;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    display: block;
                }
                img {
                    max-width: 100px;
                    max-height: 50px;
                }
                .background {
                    border-radius: 100%;
                    opacity: 0;
                    z-index: -1;
                }
                &:hover {
                    .background {
                        opacity: 0.15;
                        -ms-transform: scale(1.4);
                        -webkit-transform: scale(1.4);
                        transform: scale(1.4);
                    }
                }
                &.active-item {
                    .background {
                        opacity: 1;
                        -ms-transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                    span {
                        color: #fff;
                        -ms-transform: scale(0.7);
                        -webkit-transform: scale(0.7);
                        transform: scale(0.7);
                    }
                    img {
                        -webkit-filter: brightness(0) invert(1);
                        filter: brightness(0) invert(1);
                        -ms-transform: scale(0.7);
                        -webkit-transform: scale(0.7);
                        transform: scale(0.7);
                        margin-bottom: -10px;
                    }
                }
            }
        }
    }
    .container-characteristics {
        .characteristics-sustentability-1 {
            .title {
                .icono-area {
                    filter: invert(1);
                    img {
                        filter: invert(80%) sepia(23%) saturate(4190%)
                            hue-rotate(354deg) brightness(105%) contrast(101%);
                    }
                }
            }
        }
        .characteristics {
            display: none;
            width: 35%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            padding: 30px;
            min-width: 280px;
            max-width: 360px;
            .close {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                position: absolute;
                top: 0;
                right: 0 !important;
                cursor: pointer;
                &:hover {
                    color: $verde-oscuro;
                    transform: rotate(-90deg);
                }
            }
            .title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icono-area {
                    width: 60px;
                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
                .title-area {
                    width: 180px;
                    h1 {
                        @extend .font-21;
                        @extend .uppercase;
                        text-align: left;
                    }
                }
            }
            ul {
                padding: 20px;
                width: 100%;
                li {
                    text-align: left;
                    @extend .font-14;
                    margin-bottom: 13px;
                    color: $gris-2;
                    padding-left: 30px;
                    position: relative;
                    &:before {
                        font-family: "icomoon" !important;
                        speak: none;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\e909";
                        margin-right: 4px;
                        position: absolute;
                        left: 0;
                        top: 3px;
                        width: 15px;
                        height: 15px;
                        border-radius: 100px;
                        font-size: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $blanco;
                    }
                    a {
                        color: $gris-2;
                    }
                }
            }
        }
    }
    #model {
        .img {
            #Capa_1 {
                width: 100%;
                .st7,
                .st8,
                .st9 {
                    -webkit-transition-duration: 0.25s;
                    -moz-transition-duration: 0.25s;
                    -ms-transition-duration: 0.25s;
                    -o-transition-duration: 0.25s;
                    transition-duration: 0.25s;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .st7:hover {
                    cursor: pointer;
                    fill: #e7b10e;
                }
                .st8:hover {
                    cursor: pointer;
                    fill: #971c41;
                }
                .st9:hover {
                    cursor: pointer;
                    fill: #157b93;
                }
            }
        }
        &.activePie {
            position: relative;
            transform: translate(-200px, 0) scale(0.8);
        }
    }
}
.modal-iniciativa {
    .modal-heading {
        width: 100%;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-box {
            width: 70%;
            h4 {
                color: $blanco;
                @extend .font-26;
            }
        }
        .icono-box {
            width: 10%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                display: block;
                filter: brightness(0) invert(1);
            }
        }
    }
    .modal-contenido {
        padding: 30px;
        width: 100%;
    }
}
