.form-box {
    padding: 40px 30px;
    background-color: lighten($gris-3, 2.5%);
    @extend .border-radius-m;
    @extend .box-shadow;
    .file-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
}
.text-input,
#adj-file {
    border-radius: 150px;
    background-color: $gris-1;
    width: 100%;
    padding: 12px 30px;
}
#adj-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 30px;
    cursor: pointer;
    span {
        font-size: 14px;
        color: $gris-2;
    }
    i {
        width: 30px;
        height: 30px;
        display: block;
        background-color: $verde-claro;
        color: $blanco;
        border-radius: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        margin: 5px 0;
    }
}
.textarea-input {
    @extend .border-radius-xl;
    background-color: $gris-1;
    width: 100%;
    padding: 12px 30px;
    height: 100px;
    border: none;
}
.submit-area {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .response-area {
        .wpcf7-response-output {
            margin: 0;
            border: none;
            color: $verde-oscuro;
        }
    }
}
.wpcf7-not-valid-tip {
    font-size: 11px !important;
    text-align: right;
    margin-top: 3px;
}
