@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;900&family=Roboto+Condensed:wght@300;400;700&family=Ubuntu:wght@300;700&display=swap");

$secondary-font: "Montserrat", sans-serif;
$primary-font: "Roboto Condensed", sans-serif;
$extra-font: "Ubuntu", sans-serif;

.primary-font,
body,
input,
select,
textarea {
    font-family: $primary-font;
}

.secondary-font {
    font-family: $secondary-font;
}

.extra-font {
    font-family: $extra-font;
}
