footer {
    width: 100%;
    margin-top: 3rem;
    padding: 1rem;
    position: relative;
    font-size: 0;
    .copyright {
        color: $verde-oscuro;
        font-size: 12px;
        text-align: center;
        font-family: $secondary-font;
        a {
            color: $verde-oscuro;
            font-weight: 700;
        }
    }
    &:before {
        font-size: 0;
        width: 100%;
        height: 5px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background-size: 100%;
        background-repeat: repeat-y;
        background-position: center;
        background-image: url(img/border-colors.svg);
    }
}
#floating-shortcuts,
#floating-profile,
#floating-search {
    display: none;
}
