.video-gal-page {
    .videos-slide-area {
        .slider-area {
            margin-left: -10px;
            margin-right: -10px;
            .slick-slider {
                .slick-list {
                    padding-right: 0;
                    .slide {
                        margin-right: 0;
                        .small-news-area {
                            height: 240px;
                            margin: 0 10px;
                            .content {
                                .content-area {
                                    flex-direction: column;
                                    padding: 25px;
                                    .play-area {
                                        margin-bottom: 15px;
                                    }
                                    .post-info {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.videos-feat-layout {
    @extend .flex;
    @extend .align-start;
    @extend .justify-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 470px;
    .main-feat-area {
        @extend .col-66;
        height: 100%;
        margin-right: 20px;
        .small-news-area {
            height: 100%;
            .content {
                position: relative;
                .play-area {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: 50%;
                    transform: translateY(-50%);
                    img {
                        margin: 0 auto;
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
                .content-area {
                    flex-direction: column;
                    .post-info {
                        .post-title {
                            @extend .font-24;
                        }
                    }
                }
            }
            .photo {
                @extend .transition-slow;
                .veil {
                    @extend .transition-slow;
                }
            }
            &:hover {
                .photo {
                    transform: scale(1.05);
                    .veil {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .small-feat-area {
        @extend .col-32;
        height: 47.5%;
        .small-news-area {
            height: 100%;
            .photo {
                @extend .transition-slow;
                .veil {
                    @extend .transition-slow;
                }
            }
            &:hover {
                .photo {
                    transform: scale(1.05);
                    .veil {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.single-video-heading {
    &.page-heading {
        @extend .relative;
        @extend .flex;
        @extend .justify-between;
        @extend .align-end;
        &:before {
            display: none;
        }
    }
    .content-area {
        @extend .flex;
        @extend .justify-between;
        @extend .align-center;
        @extend .relative;
        flex-wrap: wrap;
        width: 100%;
        @extend .z-index-4;
        .width-content {
            max-width: 780px;
            width: 100%;
        }
        .play-icono {
            @extend .flex;
            @extend .align-center;
            @extend .justify-center;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            a {
                display: block;
                width: 70px;
                position: relative;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
                .tooltip-video {
                    display: block;
                    width: max-content;
                    position: absolute;
                    z-index: 3;
                    top: -25px;
                    left: 10px;
                    font-size: 10px;
                    color: $verde-claro;
                    background-color: $blanco;
                    padding: 5px;
                    border-radius: 3px;
                    text-transform: uppercase;
                    pointer-events: none;
                    opacity: 0;
                    @extend .transition;
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border: 5px solid transparent;
                        border-top-color: $blanco;
                        border-bottom: 0;
                        margin-left: -5px;
                        margin-bottom: -5px;
                    }
                }
                &:hover {
                    .tooltip-video {
                        top: -30px;
                        opacity: 1;
                    }
                }
            }
        }
        .video-intro {
            padding: 40px;
            .post-date {
                @extend .uppercase;
                color: $blanco;
                @extend .font-18;
            }
            h1 {
                @extend .bold;
                color: $blanco;
                @extend .font-36;
                margin: 20px 0 10px;
            }
            .bajada {
                p {
                    @extend .light;
                    color: $blanco;
                    @extend .font-14;
                }
            }
        }
    }
}
.single-video-content {
    padding: 40px;
    width: 100%;
    @extend .flex;
    @extend .align-start;
    @extend .justify-end;
    .width-content {
        width: 100%;
        max-width: 700px;
    }
}
