.wrap-xl {
    max-width: 1100px;
}
header {
    width: 15%;
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    background-color: $verde-claro;
    @extend .left;
    .mobile-menu-heading {
        display: none;
    }
    .brand-area {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2rem 0 3rem;
        a {
            width: 105px;
            display: block;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
    }
    .main-menu-area {
        padding-left: 5px;
        ul.main-menu {
            li {
                position: relative;
                padding: 0.75rem 0 0.75rem 0.5rem;
                margin-bottom: 0.5rem;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    color: $blanco;
                    font-family: $secondary-font;
                    span {
                        line-height: 100%;
                    }
                }
                &.active {
                    a {
                        @extend .bold;
                    }
                }
                &.has-icon {
                    a {
                        font-size: 14px;
                        font-weight: 700;
                        i {
                            width: 45px;
                            margin-right: 0.25rem;
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                }
                &.current-menu-item,
                &.current-page-ancestor {
                    background-color: $blanco;
                    border-top-left-radius: 100rem;
                    border-bottom-left-radius: 100rem;
                    a {
                        color: $verde-oscuro;
                    }
                    &:before {
                        position: absolute;
                        right: 0;
                        top: -35px;
                        width: 35px;
                        height: 35px;
                        background-color: $blanco;
                        display: block;
                        content: "";
                        mask: url(img/curve-corner.svg);
                    }
                    &:after {
                        position: absolute;
                        right: 0;
                        bottom: -35px;
                        width: 35px;
                        height: 35px;
                        background-color: $blanco;
                        display: block;
                        content: "";
                        mask: url(img/curve-corner.svg);
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
    .extra-links-area {
        margin: 1rem 2rem 1rem 1rem;
        border-top: 1px solid $blanco;
        .menu-heading {
            padding: 2rem 0.7rem;
            p {
                font-size: 14px;
                font-weight: 700;
                margin: 0;
                color: $blanco;
                font-family: $secondary-font;
            }
        }
        .extra-menu-area {
            padding: 0 0.75rem;
            .extra-menu {
                li {
                    margin-bottom: 0.7rem;
                    line-height: 100%;
                    a {
                        font-weight: 400;
                        font-size: 12px;
                        color: $blanco;
                        font-family: $secondary-font;
                        line-height: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}
.top-header {
    .mobile-pre-header {
        display: none;
    }
    .pre-head {
        background-color: $verde-oscuro;
        padding: 5px 0;
        .content {
            @extend .flex;
            @extend .align-center;
            @extend .justify-end;
            .currency-area {
                @extend .flex;
                @extend .align-center;
                @extend .justify-end;
                flex-grow: 1;
                .dolar-valor,
                .uf-valor {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    i,
                    span {
                        color: $blanco;
                    }
                    .icon-indicators {
                        font-size: 15px;
                        margin-right: 0.5rem;
                    }
                    .icon-arrow-right {
                        font-size: 5px;
                        margin: 0 0.25rem;
                    }
                    span {
                        font-size: 11px;
                        &.value {
                            font-weight: 700;
                            margin: 0 0.25rem;
                        }
                    }
                }
                .splitter {
                    display: block;
                    margin: 0 0.5rem;
                    width: 1px;
                    height: 10px;
                    background-color: $blanco;
                }
            }
            .time-area {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 2.75rem;
                .arrow {
                    color: $blanco;
                    font-size: 10px;
                }
                .icon-clock {
                    font-size: 13px;
                    color: $blanco;
                    margin-right: 0.25rem;
                }
                .time-slider-area {
                    width: 170px;
                    .time-data {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span {
                            color: $blanco;
                            font-size: 11px;
                            line-height: 100%;
                            &.country,
                            &.time {
                                font-weight: 700;
                                margin-left: 0.15rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .mid-head {
        .content {
            @extend .flex;
            @extend .align-center;
            @extend .justify-between;
            padding: 1rem 0;
            border-bottom: 1px solid rgba($verde-claro, 0.25);
            .today-div {
                #current-date {
                    font-weight: 700;
                    color: $verde-oscuro;
                    font-size: 12px;
                }
            }
            .countries-area {
                @extend .flex;
                @extend .align-center;
                @extend .justify-end;
                .slogan {
                    font-weight: 400;
                    color: $verde-oscuro;
                    font-size: 13px;
                    border-right: 2px solid $verde-oscuro;
                    padding-right: 1rem;
                    margin-right: 0.5rem;
                }
                .flag-list {
                    @extend .flex;
                    @extend .align-center;
                    @extend .justify-end;
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 0.5rem;
                        padding-left: 0.5rem;
                        position: relative;
                        .flag {
                            width: 10px;
                            height: auto;
                        }
                        span {
                            font-size: 12px;
                            color: $verde-claro;
                            font-weight: 400;
                            line-height: 100%;
                            margin-left: 0.25rem;
                            display: inline-block;
                        }
                        &.current-flag {
                            span {
                                font-weight: 700;
                                text-decoration: underline;
                                color: $verde-oscuro;
                            }
                        }
                        &:nth-child(n + 2) {
                            &:before {
                                display: block;
                                content: "·";
                                color: $verde-claro;
                                position: absolute;
                                left: -0.15rem;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
    }
    .bot-head {
        padding: 1.5rem 0;
        .content {
            @extend .flex;
            @extend .align-center;
            @extend .justify-between;
            position: relative;
            form {
                width: 100%;
                max-width: 725px;
                display: block;
            }
            .search-input-area {
                width: 100%;
                height: 50px;
                position: relative;
                input {
                    border-radius: 100rem;
                    width: 100%;
                    height: 100%;
                    background-color: $gris-1;
                    padding: 0.5rem 2rem;
                    font-size: 18px;
                }
                .btn-search {
                    background-color: $verde-claro;
                    font-size: 24px;
                    color: $blanco;
                    width: max-content;
                    position: absolute;
                    z-index: 2;
                    right: 5px;
                    top: 5px;
                    height: 40px;
                    padding: 1rem 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100rem;
                    &:hover {
                        background-color: $blanco;
                        color: $verde-claro;
                    }
                }
            }
            .user-area {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                .avatar-box {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    .avatar {
                        width: 100%;
                        height: 100%;
                        border-radius: 100rem;
                        overflow: hidden;
                        .profile {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: top;
                        }
                    }
                    .notifications {
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20px;
                        height: 20px;
                        font-size: 11px;
                        font-family: $secondary-font;
                        background-color: $rojo-alert;
                        color: $blanco;
                        font-weight: 700;
                        padding: 0.25rem;
                        border-radius: 150px;
                    }
                }
                .info-box {
                    margin-left: 1.25rem;
                    .name {
                        span {
                            font-size: 13px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: $verde-oscuro;
                            line-height: 100%;
                        }
                        .icono {
                            transform: rotate(0);
                            display: inline-block;
                            @extend .transition;
                            i {
                                font-size: 15px;
                            }
                        }
                    }
                    .range {
                        line-height: 50%;
                        span {
                            display: inline-block;
                            font-size: 10px;
                            text-transform: uppercase;
                            font-weight: 300;
                            color: $verde-claro;
                            line-height: 80%;
                        }
                    }
                }
                &.active-menu {
                    .info-box {
                        .name {
                            .icono {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
            .user-menu {
                width: 250px;
                background-color: $gris-3;
                position: absolute;
                top: 50%;
                right: 0;
                @extend .border-radius-l;
                padding: 25px;
                z-index: 9;
                opacity: 0;
                -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
                pointer-events: none;
                @extend .transition;
                .links {
                    .out-link {
                        font-size: 13px;
                        font-family: $secondary_font;
                        margin-bottom: 15px;
                        color: $negro;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        i {
                            color: $gris-2;
                        }
                        span {
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }
                }
                .btn-area {
                    margin-top: 10px;
                    text-align: center;
                }
                &.active-menu {
                    pointer-events: all;
                    top: 120%;
                    opacity: 1;
                }
                .logout-btn {
                    margin-top: 10px;
                    a {
                        color: $verde-oscuro;
                        font-size: 14px;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.login-page {
    header {
        width: 100%;
        background-color: transparent;
        height: auto !important;
        overflow-y: visible;
        float: none;
        z-index: 4;
        .brand-area {
            display: block;
            width: 100%;
            max-width: 390px;
            padding: 35px;
            position: relative;
            a {
                position: relative;
                z-index: 2;
                width: 114px;
                display: block;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                }
            }
            &:before {
                mask-image: url(img/corner-left.svg);
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: $blanco;
                width: 100%;
                height: 155px;
                position: absolute;
                left: -1px;
                top: 0;
                display: block;
                content: "";
                z-index: 1;
                padding-left: 30px;
            }
        }
    }
    main {
        width: 100%;
        background-color: $verde-oscuro;
        height: 100vh;
    }
}

.not-compatible {
    background-color: $blanco;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    .box-info {
        width: 70%;
        min-width: 250px;
        margin: 20px auto;
        .disclaimer {
            color: $verde-claro;
            font-size: 18px;
            text-align: center;
            line-height: 140%;
        }
        .browsers-area {
            text-align: center;
            margin: 10px auto;
            .browser-box {
                display: inline-block;
                margin: 10px;
                .browser-link {
                    width: 60px;
                    height: 60px;
                    display: block;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
