.innovacion-heading {
    @extend .relative;
    @extend .align-end;
    .content {
        width: 90%;
        padding: 90px 30px 40px;
        position: relative;
        z-index: 4;
        h1 {
            color: $blanco;
            @extend .font-50;
            @extend .uppercase;
        }
        .intro-page {
            margin-top: 35px;
            p {
                color: $blanco;
                @extend .font-18;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &:before {
        mask-image: url(img/corner-left.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        background-color: rgba($celeste, 0.8);
        width: 100.1%;
        height: 120%;
        position: absolute;
        left: -1px;
        bottom: 0;
        top: auto;
        display: block;
        content: "";
        transform: rotate3d(1, 0, 0, 180deg);
        z-index: 3;
        padding-left: 30px;
    }
}
#innovacion-tabs {
    .tabs-triggers {
        @extend .flex;
        @extend .justify-between;
        @extend .align-center;
        margin-bottom: 50px;
    }
}
.icono-color-area {
    @extend .flex;
    @extend .align-start;
    @extend .justify-between;
    width: 100%;
    .icono-color-box {
        display: block;
        margin: 0 10px;
        position: relative;
        flex-grow: 1;
        flex-basis: 0;
        flex-shrink: 1;
        align-self: stretch;
        overflow: hidden;
        @extend .border-radius-m;
        .photo-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            left: 0;
            top: 0;
            .veil {
                @extend .transition;
                &.color-celeste {
                    background-color: rgba($celeste, 0.9);
                }
                &.color-burdeo {
                    background-color: rgba($burdeo, 0.9);
                }
                &.color-amarillo {
                    background-color: rgba($amarillo, 0.9);
                }
                &.color-verde-oscuro {
                    background-color: rgba($verde-oscuro, 0.9);
                }
            }
        }
        .content-box {
            position: relative;
            z-index: 2;
            padding: 130px 20px 30px;
            .icono-rel {
                height: 45px;
                width: auto;
                display: block;
                margin-bottom: 15px;
                filter: brightness(0) invert(1);
            }
            .titulo {
                @extend .font-23;
                color: $blanco;
                margin-bottom: 20px;
            }
            .bajada {
                p {
                    @extend .font-16;
                    color: $blanco;
                }
            }
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            .photo-bg {
                .veil {
                    opacity: 0.3;
                }
            }
        }
    }
}
.slide-events-area {
    margin-top: 30px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .slider-area {
        width: 100%;
        flex-grow: 1;
        overflow: hidden;
        position: relative;
        .arrows {
            position: absolute;
            right: 20px;
            top: 22px;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            .arrow {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 100rem;
                background-color: $celeste;
                color: $blanco;
                font-size: 16px;
                margin: 0 2px;
                text-align: center;
                line-height: 0;
                &:hover {
                    background-color: darken($celeste, 10%);
                }
            }
        }
        #events-slider {
            width: 100%;
            height: 100%;
            .slick-track {
                height: 100%;
            }
            .slick-list {
                height: 100%;
            }
            .slide {
                width: 100%;
                height: 100%;
                .slide-content {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    .photo {
                        z-index: 1;
                        .veil {
                            @include linear-gradient(
                                rgba(0, 0, 0, 0.85),
                                rgba(0, 0, 0, 0),
                                0
                            );
                        }
                    }
                    .post-cat-area {
                        position: absolute;
                        z-index: 2;
                        left: 20px;
                        top: 22px;
                        span {
                            font-weight: 700;
                            font-size: 13px;
                            color: $blanco;
                            text-transform: uppercase;
                        }
                    }
                    .content {
                        padding: 22px 20px;
                        width: 100%;
                        position: relative;
                        z-index: 2;
                        .button-area {
                            @extend .col-30;
                            text-align: center;
                            a {
                                color: $blanco;
                            }
                        }
                        .fecha {
                            @extend .font-13;
                            font-weight: 300;
                            text-transform: uppercase;
                            color: $blanco;
                            display: block;
                            margin-bottom: 10px;
                            width: 100%;
                        }
                        .post-title {
                            @extend .font-24;
                            font-weight: 700;
                            color: $blanco;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}
.programas-innovacion-area {
    .programa-box {
        @extend .border-radius-m;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
        padding: 30px 20px;
        .programa-img {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 230px;
            .ccu-logo-corner {
                width: 135px;
                height: 80px;
                position: absolute;
                top: 0;
                left: 0;
                img {
                    display: block;
                    margin: 15px;
                    position: relative;
                    z-index: 2;
                    width: 55px;
                    height: auto;
                }
                &:before {
                    mask-image: url(img/corner-left.svg);
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    background-color: $blanco;
                    width: 130%;
                    height: 100%;
                    position: absolute;
                    left: -1px;
                    top: 0;
                    top: auto;
                    display: block;
                    content: "";
                    transform: rotate3d(1, 0, 0, 0deg);
                    z-index: 1;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .programa-info {
            .descripcion {
                margin: 40px 0 30px;
                p {
                    @extend .font-14;
                }
            }
        }
    }
}

#productos {
    .news-area {
        .alm-reveal {
            width: 100%;
            .grid-sizer,
            .grid-item {
                width: 23.5%;
            }
            .small-news-area {
                height: 375px;
                float: left;
                margin: 0 0 2%;
            }
            &:after {
                content: "";
                display: block;
                clear: both;
            }
            .gutter-sizer {
                width: 2%;
            }
            .grid-size-2 {
                width: 49%;
            }
        }
    }
    .alm-btn-wrap {
        text-align: center;
    }
}

#tendencias {
    .news-area {
        .alm-reveal {
            width: 100%;
            .grid-sizer,
            .grid-item {
                width: 49%;
            }
            .small-news-area {
                height: 250px;
                float: left;
                margin: 0 0 2%;
            }
            &:after {
                content: "";
                display: block;
                clear: both;
            }
            .gutter-sizer {
                width: 2%;
            }
            .grid-size-2 {
                height: 520px;
            }
            .grid-size-3 {
                width: 100%;
                height: 350px;
            }
        }
    }
    .alm-btn-wrap {
        text-align: center;
    }
}

#videos {
    .news-area {
        .alm-reveal {
            width: 100%;
            .grid-sizer,
            .grid-item {
                width: 32%;
            }
            .small-news-area {
                height: 370px;
                float: left;
                margin: 0 0 2%;
            }
            &:after {
                content: "";
                display: block;
                clear: both;
            }
            .gutter-sizer {
                width: 2%;
            }
            .grid-size-2 {
                width: 66%;
            }
        }
    }
    .alm-btn-wrap {
        text-align: center;
    }
}
