main {
    width: 85%;
    @extend .right;
}
.section {
    margin-bottom: 2rem;
}
.content {
    .heading-box-area {
        @extend .flex;
        @extend .justify-between;
        @extend .align-center;
        width: 100%;
        margin-bottom: 10px;
        .head-title {
            @extend .font-18;
            @extend .bold;
            @extend .uppercase;
            color: $verde-claro;
            &.color-celeste {
                color: $celeste;
            }
        }
        .btn-ver-todas {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $verde-oscuro;
            @extend .bold;
            @extend .font-13;
            @extend .uppercase;
            span {
                text-decoration: underline;
                &.color-celeste {
                    color: $celeste;
                }
            }
            &.color-celeste {
                color: $celeste;
            }
        }
    }
}
.box-spacer {
    padding-top: 2rem;
}

.box-content-area {
    width: 100%;
    height: 380px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    .photo {
        z-index: 1;
        .veil {
            @include linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0), 0);
        }
    }
    .content {
        padding: 22px 20px;
        width: 100%;
        position: relative;
        z-index: 3;
        @extend .flex;
        @extend .align-center;
        @extend .justify-between;
        flex-wrap: wrap;
        .content-area {
            @extend .col-65;
        }
        .button-area {
            @extend .col-30;
            text-align: center;
        }
        .fecha {
            @extend .font-13;
            font-weight: 300;
            text-transform: uppercase;
            color: $blanco;
            display: block;
            margin-bottom: 1rem;
            width: 100%;
        }
        .post-title {
            @extend .font-23;
            font-weight: 700;
            color: $blanco;
            margin-bottom: 10px;
        }
        .post-excerpt {
            @extend .font-12;
            font-weight: 300;
            color: $blanco;
        }
    }
}

.page-heading {
    min-height: 260px;
    width: 100%;
    @extend .relative;
    overflow: hidden;
    @extend .border-radius-m;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .bg-image {
        @extend .absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        .veil {
            width: 100%;
            height: 100%;
            background-color: rgba($negro, 0.6);
        }
    }
    .content {
        @extend .relative;
        @extend .z-index-2;
    }
    &.simple-heading {
        .content {
            padding: 45px;
            h1 {
                @extend .uppercase;
                color: $blanco;
                @extend .font-50;
                @extend .bold;
            }
        }
    }
}
.page-content-area {
    .page-content {
        padding: 50px;
        .wysiwyg {
            float: none;
            h1 {
                @extend .font-55;
                margin-bottom: 37px;
            }
            h2 {
                @extend .font-24;
                margin-bottom: 37px;
            }
            img {
                &.aligncenter {
                    margin-top: 55px;
                    margin-bottom: 55px;
                }
            }
        }
    }
}

.select-box {
    position: relative;
    width: max-content;
    overflow: hidden;
    .select-input {
        position: relative;
        border: none;
        background-color: transparent;
        appearance: none;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
    }
    .icon {
        position: absolute;
        font-size: 12px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.news-area {
    margin-top: 30px;
    &.layout-one-feat {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-between;
            flex-wrap: wrap;
            .small-news-area {
                height: 300px;
                flex-grow: 1;
                margin: 10px;
                &:first-child {
                    width: 100%;
                    .content {
                        .content-area {
                            position: absolute;
                            bottom: 0;
                            @extend .flex;
                            @extend .align-center;
                            @extend .justify-between;
                            .post-info {
                                @extend .col-66;
                            }
                            .button-area {
                                @extend .col-30;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    &.layout-one-feat-two-third {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-between;
            flex-wrap: wrap;
            .small-news-area {
                height: 300px;
                flex-grow: 1;
                margin: 10px;
                &:nth-last-child(2) {
                    width: 60%;
                    .content {
                        .content-area {
                            position: absolute;
                            bottom: 0;
                            @extend .flex;
                            @extend .align-center;
                            @extend .justify-between;
                            .post-info {
                                @extend .col-66;
                            }
                            .button-area {
                                @extend .col-30;
                                text-align: right;
                            }
                        }
                    }
                }
                &:first-child {
                    width: 17%;
                }
                &:nth-child(2) {
                    width: 17%;
                }
            }
        }
    }
    &.layout-one-four-feat {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-between;
            flex-wrap: wrap;
            .small-news-area {
                min-width: 370px;
                height: 368px;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0;
                margin: 10px;
                &:first-child {
                    flex-grow: 2;
                    flex-shrink: 2;
                    flex-basis: 0;
                }
                &:last-child {
                    flex-grow: 2;
                    flex-shrink: 2;
                    flex-basis: 0;
                }
                .content-area {
                    bottom: 0 !important;
                }
            }
        }
    }
    &.layout-one-last-feat {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-between;
            flex-direction: column;
            flex-wrap: wrap;
            height: 540px;
            .small-news-area {
                min-width: 370px;
                height: 250px;
                margin: 10px;
                width: 48%;
                &:last-child {
                    height: 540px;
                }
            }
        }
    }
    &.layout-one-first-feat {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-between;
            flex-direction: column;
            flex-wrap: wrap;
            height: 410px;
            .small-news-area {
                min-width: 350px;
                height: 185px;
                margin: 10px;
                width: 30%;
                flex-grow: 1;
                .content {
                    .content-area {
                        .post-info {
                            h3 {
                                @extend .font-16;
                            }
                        }
                    }
                }
                &:first-child {
                    width: 65%;
                    height: 410px;
                    .content {
                        .content-area {
                            .post-info {
                                h3 {
                                    @extend .font-24;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.layout-one-third {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-start;
            flex-wrap: wrap;
            .small-news-area {
                min-width: 300px;
                max-width: 360px;
                height: 220px;
                flex: 1 1 10%;
                margin: 10px;
                .content {
                    .content-area {
                        .post-info {
                            h3 {
                                @extend .font-16;
                            }
                        }
                    }
                }
            }
        }
    }
    &.layout-three-fourth-feat {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-start;
            flex-wrap: wrap;
            .small-news-area {
                min-width: 210px;
                max-width: 360px;
                height: 250px;
                flex: 1 1 10%;
                margin: 10px;
                .content {
                    .content-area {
                        .post-info {
                            h3 {
                                @extend .font-16;
                            }
                        }
                    }
                }
                &:first-child {
                    flex: none;
                    height: 350px;
                    width: 73%;
                    max-width: none;
                }
                &:nth-child(2) {
                    height: 350px;
                }
            }
        }
    }
    &.layout-one-six-feat {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-between;
            flex-wrap: wrap;
            .small-news-area {
                min-width: 260px;
                height: 368px;
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0;
                margin: 10px;
                &:first-child {
                    width: 60%;
                }
            }
        }
    }
}
.videos-area {
    &.layout-one-three-feat {
        .layout-news-area {
            margin: -10px;
            @extend .flex;
            @extend .align-start;
            @extend .justify-between;
            flex-wrap: wrap;
            .small-news-area {
                height: 368px;
                flex-grow: 1;
                margin: 10px;
                &:nth-child(2n-1) {
                    width: 60%;
                }
            }
        }
    }
}
.custom-small-area {
    align-self: stretch;
    .content {
        @extend .flex;
        flex-direction: column;
        height: 100%;
    }
    .custom-small-box {
        @extend .border-radius-m;
        overflow: hidden;
        width: 100%;
        position: relative;
        flex-grow: 1;
        min-height: 360px;
        .box-content {
            position: relative;
            width: 100%;
            height: 100%;
            .photo {
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                .veil {
                    @include linear-gradient(
                        rgba(0, 0, 0, 0.85),
                        rgba(0, 0, 0, 0),
                        0
                    );
                }
            }
            .content-box {
                padding: 20px 20px 35px;
                position: absolute;
                z-index: 2;
                bottom: 0;
                h4 {
                    @extend .font-24;
                    color: $blanco;
                    @extend .bold;
                }
                .bajada {
                    margin: 20px 0;
                    p {
                        @extend .font-14;
                        color: $blanco;
                        @extend .light;
                    }
                }
            }
        }
    }
}
.file-box {
    background-color: $verde-oscuro;
    overflow: hidden;
    @extend .border-radius-m;
    padding: 30px 30px;
    @extend .flex;
    @extend .align-start;
    @extend .justify-between;
    flex-direction: column;
    flex-grow: 1;
    .file-size {
        @extend .flex;
        @extend .align-center;
        @extend .justify-start;
        .icono {
            width: 35px;
            margin-right: 15px;
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .data {
            span {
                display: block;
                line-height: 100%;
                &.title {
                    @extend .font-11;
                    @extend .light;
                    color: $blanco;
                }
                &.size {
                    @extend .font-11;
                    color: $blanco;
                }
            }
        }
    }
    .file-info {
        .file-main-data {
            margin-bottom: 35px;
            .file-name {
                @extend .font-23;
                @extend .bold;
                color: $blanco;
                margin-bottom: 20px;
            }
            .file-desc {
                @extend .font-14;
                color: $blanco;
            }
        }
        .file-link {
            a {
                i,
                span {
                    color: $blanco !important;
                }
            }
        }
    }
    &.small {
        .file-size {
            width: 100%;
            margin-bottom: 25px;
            @extend .justify-between;
        }
        .file-info {
            .file-main-data {
                margin-bottom: 25px;
                .file-name {
                    @extend .font-17;
                }
            }
        }
    }
}
.box-shadow {
    -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
}
.pagination-area {
    margin: 50px auto;
    width: 70%;
    min-width: 280px;
    .pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .arrow-page {
            display: block;
            font-size: 24px;
            color: $verde-oscuro;
        }
        .no-link-page {
            display: block;
            font-size: 24px;
            color: $gris-1;
        }
        .num-pages {
            display: flex;
            align-items: center;
            justify-content: center;
            .num {
                font-size: 16px;
                width: 40px;
                height: 40px;
                border: 1px solid $gris-1;
                color: $verde-oscuro;
                @extend .transition;
                font-family: $extra_font;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                margin: 0 2px;
                background-color: $blanco;
                &:hover,
                &.current {
                    color: $blanco;
                    background-color: $verde-oscuro;
                    border-color: $verde-oscuro;
                }
            }
        }
    }
}
.modal-cambios-area {
    .close {
        top: 5% !important;
    }
}
.modal-cambios {
    height: 80vh !important;
    .modal-heading {
        width: 100%;
        padding: 30px 40px;
        @extend .flex;
        @extend .align-center;
        @extend .justify-between;
        background-color: $gris-3;
        .title-area {
            font-family: $extra_font;
            @extend .font-26;
            color: $verde-oscuro;
        }
        .date-selector-area {
            @extend .flex;
            @extend .align-center;
            @extend .justify-end;
            .select-box {
                position: relative;
                width: 160px;
                border-bottom: 1px solid $gris-1;
                select {
                    cursor: pointer;
                    padding: 3px;
                    position: relative;
                    border: none;
                    background-color: transparent;
                    appearance: none;
                    @extend .font-13;
                    @extend .light;
                    color: $verde-claro;
                    width: 100%;
                    height: 100%;
                    @extend .uppercase;
                }
                i {
                    position: absolute;
                    z-index: 2;
                    font-size: 12px;
                    color: $verde-oscuro;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }
            .icon-box {
                width: 80px;
                margin-left: 30px;
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    font-size: 0;
                }
            }
        }
    }
    .cambios-container {
        padding: 20px 40px 40px;
        #cambios-tabs {
            .tabs-triggers {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;
                li {
                    flex: 1 1 0;
                    text-align: center;
                    padding: 7px;
                    border-bottom: 3px solid $gris-1;
                    a {
                        color: $gris-2;
                        @extend .light;
                        @extend .uppercase;
                        @extend .font-15;
                    }
                    &.ui-tabs-active {
                        border-bottom-color: $verde-claro;
                        a {
                            color: $verde-claro;
                            @extend .bold;
                        }
                    }
                }
            }
            .tab-content {
                .persona-caja {
                    overflow: hidden;
                    @extend .border-radius-m;
                    background-color: $gris-3;
                    padding: 30px 15px;
                    .content-persona {
                        @extend .flex;
                        @extend .align-start;
                        @extend .justify-start;
                        .foto-persona {
                            width: 64px;
                            height: 64px;
                            overflow: hidden;
                            border-radius: 250px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                display: block;
                                font-size: 0;
                            }
                        }
                        .info-persona {
                            width: 80%;
                            padding: 0 25px;
                            .nombre {
                                @extend .font-18;
                                @extend .bold;
                                color: $verde-oscuro;
                                margin-bottom: 5px;
                            }
                            .cargo {
                                @extend .font-14;
                                @extend .bold;
                                color: $verde-claro;
                                margin-bottom: 20px;
                            }
                            .data {
                                @extend .font-11;
                                color: $gris-2;
                            }
                        }
                    }
                }
                .slider-area {
                    position: relative;
                    .arrows {
                        position: absolute;
                        right: 18px;
                        top: -10px;
                        z-index: 3;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .arrow {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 30px;
                            height: 30px;
                            border-radius: 100rem;
                            background-color: $verde-claro;
                            color: $blanco;
                            font-size: 16px;
                            margin: 0 2px;
                            text-align: center;
                            line-height: 0;
                            &:hover {
                                background-color: $verde-oscuro;
                            }
                        }
                    }
                    #slider-gerentes {
                        .slick-list {
                            padding: 0 !important;
                        }
                        .slick-track {
                            padding-top: 40px;
                            padding-bottom: 40px;
                        }
                        .slide {
                            transition: all 500ms ease-in-out;
                            &.slick-center {
                                transform: scale(1.15) translateY(-5px);
                                .content {
                                    .info-gerente {
                                        margin-top: 15px;
                                        .evento,
                                        .data {
                                            opacity: 1;
                                        }
                                        &:before {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                            .content {
                                margin: 0 20px;
                                .foto-gerente {
                                    height: 235px;
                                    overflow: hidden;
                                    @extend .border-radius-m;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .info-gerente {
                                    position: relative;
                                    margin-top: 0;
                                    padding-top: 15px;
                                    @extend .transition;
                                    .nombre {
                                        color: $verde-oscuro;
                                        @extend .font-16;
                                    }
                                    .cargo {
                                        color: $verde-claro;
                                        @extend .font-14;
                                        @extend .regular;
                                        margin-bottom: 10px;
                                    }
                                    .evento {
                                        color: $verde-claro;
                                        @extend .font-14;
                                        @extend .bold;
                                        @extend .uppercase;
                                        font-style: italic;
                                        opacity: 0;
                                        @extend .transition;
                                    }
                                    .data {
                                        color: $gris-2;
                                        @extend .font-11;
                                        opacity: 0;
                                        @extend .transition;
                                    }
                                    &:before {
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 70%;
                                        height: 4px;
                                        content: "";
                                        display: block;
                                        background-color: $verde-claro;
                                        opacity: 0;
                                        @extend .transition;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-cumpleanos-area {
    .close {
        top: 6% !important;
        right: 37% !important;
    }
}
.modal-cumpleanos {
    height: 80vh !important;
    width: 25% !important;
    min-width: 260px !important;
    .modal-heading {
        width: 100%;
        padding: 30px 40px;
        @extend .flex;
        @extend .align-center;
        @extend .justify-between;
        background-color: $gris-3;
        .title-area {
            font-family: $extra_font;
            @extend .font-26;
            color: $verde-oscuro;
        }
    }
    .modal-content {
        padding: 20px 40px 40px;
        .birthday-person {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 11px;
            overflow: hidden;
            @extend .border-radius-s;
            background-color: $blanco;
            border: 1px solid $verde-claro;
            margin: 5px;
            .avatar-box {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 52%;
                .avatar {
                    width: 66px;
                    height: 66px;
                    border-radius: 100rem;
                    overflow: hidden;
                    .profile {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .info-box {
                width: 48%;
                span {
                    display: block;
                    width: 100%;
                }
                .day {
                    color: $gris-2;
                    font-weight: 300;
                    font-size: 8px;
                    text-transform: uppercase;
                    margin-bottom: 12px;
                }
                .name {
                    font-size: 14px;
                    font-weight: 700;
                    color: $verde-oscuro;
                    line-height: 110%;
                }
                .range {
                    display: inline-block;
                    font-size: 10px;
                    text-transform: uppercase;
                    font-weight: 300;
                    color: $verde-claro;
                    line-height: 70%;
                    margin-bottom: 12px;
                }
                .btn {
                    padding: 0.5rem 1.25rem;
                    font-size: 10px;
                    font-family: $primary-font;
                    i {
                        font-size: 12px;
                    }
                }
            }
            &:before {
                mask-image: url(img/corner-left.svg);
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: $verde-claro;
                width: 60%;
                height: 70%;
                position: absolute;
                left: -1px;
                top: 0;
                display: block;
                content: "";
            }
        }
    }
}
.categories-container {
    .categories-area {
        background-color: lighten($gris-3, 2.5%);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 20px 10px;
        .btn {
            margin: 20px;
        }
    }
}
.modal-saludo {
    .close {
        right: 31% !important;
        top: 25% !important;
    }
    .content-modal {
        height: 43vh !important;
        width: 38% !important;
        min-width: 280px;
    }
    .modal-heading {
        width: 100%;
        padding: 30px 40px;
        @extend .flex;
        @extend .align-center;
        @extend .justify-between;
        background-color: $gris-3;
        .title-area {
            font-family: $extra_font;
            @extend .font-26;
            color: $verde-oscuro;
        }
    }
    .cumpleanero-area {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 11px;
        overflow: hidden;
        @extend .border-radius-s;
        background-color: $blanco;
        .avatar-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            .avatar {
                width: 95px;
                height: 95px;
                border-radius: 100rem;
                overflow: hidden;
                .profile {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top center;
                }
            }
        }
        .info-box {
            width: 70%;
            span {
                display: block;
                width: 100%;
            }
            .day {
                color: $gris-2;
                font-weight: 300;
                font-size: 10px;
                text-transform: uppercase;
                margin: 10px 0 20px;
            }
            .name {
                font-size: 21px;
                font-weight: 700;
                color: $verde-oscuro;
                line-height: 100%;
            }
            .range {
                display: inline-block;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 300;
                color: $verde-claro;
                line-height: 70%;
                margin-bottom: 12px;
            }
            .saludo-form {
                width: 100%;
                margin-top: 15px;
                input {
                    padding: 10px;
                    background-color: $blanco;
                    border: 1px solid $verde-claro;
                    width: 100%;
                    @extend .border-radius-m;
                }
                .btn {
                    margin-top: 15px;
                }
                .wpcf7-response-output {
                    margin: 0;
                    padding: 0;
                    border: none;
                    font-size: 14px;
                    color: $verde-claro;
                }
            }
        }
    }
}
.play-area {
    width: 35px;
    height: 35px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
    .tooltip-video {
        display: block;
        width: max-content;
        position: absolute;
        z-index: 3;
        top: -25px;
        left: -10px;
        font-size: 10px;
        color: $verde-claro;
        background-color: $blanco;
        padding: 5px;
        border-radius: 3px;
        text-transform: uppercase;
        pointer-events: none;
        opacity: 0;
        @extend .transition;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: $blanco;
            border-bottom: 0;
            margin-left: -5px;
            margin-bottom: -5px;
        }
    }
    &:hover {
        .tooltip-video {
            top: -30px;
            opacity: 1;
        }
    }
}
.doc-list-area {
    border-top: 3px solid $verde-oscuro;
    border-bottom: 2px solid $verde-oscuro;
    width: 100%;
    .doc-file-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid $verde-oscuro;
        @extend .transition;
        .file-name {
            font-size: 16px;
            color: $verde-claro;
            width: 60%;
            margin: 0 15px;
            @extend .transition;
        }
        .size {
            font-size: 13px;
            width: 30%;
            margin: 0 15px;
            color: $verde-claro;
            @extend .transition;
        }
        .file-link {
            text-align: right;
            margin: 0 15px;
        }
        &:hover {
            background-color: $verde-oscuro;
            .file-name,
            .size {
                color: $blanco;
            }
        }
    }
}
