.bodegon {
    height: 260px;
    @extend .relative;
    width: 100%;
    @extend .border-radius-l;
    overflow: hidden;
    -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    .bg-image {
        width: 100%;
        height: 100%;
        background-position: center;
    }
}
.filters-area {
    @extend .border-radius-l;
    background-color: $verde-claro;
    padding: 26px;
    .filter-title {
        color: $blanco;
        @extend .font-18;
        @extend .text-center;
        @extend .uppercase;
        margin-bottom: 10px;
    }
    #filters {
        @extend .flex;
        @extend .align-center;
        @extend .justify-center;
        .filter-box {
            margin: 0 10px;
            .select-box {
                border-radius: 100px;
                background-color: $blanco;
                -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
                box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
                .select-input {
                    color: $verde-claro;
                    font-weight: 300;
                    text-align-last: center;
                    min-width: 145px;
                    cursor: pointer;
                }
                .icon {
                    color: $verde-claro;
                    pointer-events: none;
                }
                &.disabled {
                    background-color: $gris-3;
                    .select-input {
                        color: $blanco;
                        cursor: not-allowed;
                    }
                    .icon {
                        color: $blanco;
                    }
                }
            }
        }
    }
}
#all-marcas {
    .marcas-container {
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        .heading-area {
            margin-bottom: 25px;
            h3 {
                color: $verde-oscuro;
                @extend .uppercase;
                @extend .bold;
                @extend .font-21;
            }
        }
        .marcas-area {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            box-sizing: border-box;
            .marca-box {
                width: 100%;
                max-width: 180px;
                height: 250px;
                display: block;
                position: relative;
                .marca-info {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    padding: 20px;
                    background-color: $verde-oscuro;
                    @extend .border-radius-m;
                    -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
                    @extend .transition;
                    pointer-events: none;
                    opacity: 0;
                    transform: scale(0.95);
                    .name {
                        @extend .font-14;
                        font-family: $extra_font;
                        @extend .uppercase;
                        color: $blanco;
                        margin-bottom: 10px;
                    }
                    .description {
                        @extend .font-11;
                        font-family: $extra_font;
                        color: $blanco;
                        margin-bottom: 10px;
                    }
                    .btn {
                        color: $blanco;
                        padding: 1rem;
                        font-size: 12px;
                    }
                }
                .marca-data {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .img {
                        width: 100%;
                        height: 120px;
                        margin-bottom: 10px;
                        .logo {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .name {
                        font-family: $extra_font;
                        @extend .font-14;
                        @extend .uppercase;
                        color: $verde-claro;
                        text-align: center;
                        @extend .bold;
                    }
                }
                &:hover {
                    .marca-info {
                        pointer-events: all;
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
        .spinner {
            width: 30px;
            height: 30px;
            margin: 20px auto;
            animation: spin 2s infinite;
            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.all-marcas-news {
    width: 100%;
    @extend .flex;
    @extend .align-start;
    @extend .justify-between;
    .marcas-news-area {
        width: 49%;
        .mini-news-slide {
            width: 100%;
            height: 285px;
            overflow: hidden;
            @extend .border-radius-m;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                }
            }
            .slide {
                width: 100%;
                .news-box {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .photo {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        .veil {
                            @include linear-gradient(
                                rgba($negro, 0.75),
                                rgba($negro, 0),
                                0deg
                            );
                        }
                    }
                    .content {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        z-index: 2;
                        box-sizing: border-box;
                        .post-cat-area {
                            position: absolute;
                            left: 30px;
                            top: 20px;
                            span {
                                @extend .font-13;
                                @extend .bold;
                                @extend .uppercase;
                                color: $blanco;
                                line-height: 100%;
                            }
                        }
                        .content-area {
                            position: absolute;
                            padding: 30px;
                            bottom: -70px;
                            @extend .transition;
                            .fecha {
                                color: $blanco;
                                @extend .font-13;
                                @extend .light;
                                @extend .uppercase;
                                display: block;
                                margin-bottom: 10px;
                            }
                            .post-title {
                                @extend .font-24;
                                color: $blanco;
                            }
                            .button-area {
                                margin-top: 20px;
                            }
                        }
                    }
                    &:hover {
                        .content {
                            .content-area {
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.single-marca-heading {
    &.page-heading {
        @extend .relative;
        &:before {
            mask-image: url(img/corner-left.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            background-color: rgba($verde-claro, 0.35);
            width: 50%;
            height: 50%;
            position: absolute;
            left: -1px;
            top: 0;
            display: block;
            content: "";
            transform: rotate3d(0, 0, 1, 0);
            z-index: 3;
        }
    }
    .content-area {
        @extend .flex;
        @extend .justify-between;
        @extend .align-center;
        @extend .relative;
        flex-wrap: wrap;
        width: 100%;
        @extend .z-index-4;
        .content {
            flex-grow: 1;
            flex-basis: 0;
            flex-shrink: 1;
            .marca-logo {
                width: 160px;
                height: 160px;
                background-color: $blanco;
                border-radius: 150px;
                margin-left: 100px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                img {
                    max-width: 95%;
                    max-height: 95%;
                    object-fit: contain;
                }
            }
            .marca-info {
                padding: 25px;
                .descripcion {
                    @extend .font-24;
                    color: $blanco;
                }
                .marca-rrss {
                    @extend .flex;
                    @extend .align-center;
                    @extend .justify-start;
                    width: 100%;
                    margin: 30px 0;
                    .link {
                        color: $blanco;
                        @extend .flex;
                        @extend .align-center;
                        @extend .justify-start;
                        margin-right: 35px;
                        i {
                            font-size: 18px;
                            margin-right: 10px;
                        }
                        span {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
.videos-slider-area {
    position: relative;
    width: 100%;
    height: 335px;
    overflow: hidden;
    .arrows {
        position: absolute;
        right: 20px;
        top: 22px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        .arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 100rem;
            background-color: $verde-claro;
            color: $blanco;
            font-size: 16px;
            margin: 0 2px;
            text-align: center;
            line-height: 0;
            &:hover {
                background-color: $verde-oscuro;
            }
        }
    }
    #videos-slider {
        width: 100%;
        height: 100%;
        .slick-list {
            height: 100%;
            .slick-track {
                height: 100%;
                .slide {
                    width: 100%;
                    height: 100%;
                    .video-box {
                        width: 100%;
                        height: 100%;
                        display: block;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .photo-bg {
                            position: absolute;
                            z-index: 1;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            .veil {
                                width: 100%;
                                height: 50%;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                top: auto;
                                @include linear-gradient(
                                    rgba($negro, 1),
                                    rgba($negro, 0),
                                    0deg
                                );
                            }
                        }
                        .video-content {
                            width: 100%;
                            bottom: 0;
                            position: absolute;
                            z-index: 2;
                            padding: 30px;
                            .video-name {
                                color: $blanco;
                                @extend .bold;
                                @extend .font-24;
                            }
                        }
                        img {
                            display: block;
                            width: 50px;
                            height: 50px;
                            position: relative;
                            z-index: 2;
                        }
                    }
                }
            }
        }
    }
}
.all-productos-marca {
    .producto-area {
        position: relative;
        width: 100%;
        margin-bottom: 75px;
        .producto-data {
            @extend .relative;
            padding: 50px 100px;
            width: 83%;
            background-color: $gris-3;
            @extend .border-radius-m;
            overflow: hidden;
            -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
            .producto-info {
                width: 80%;
                .producto-name {
                    @extend .bold;
                    @extend .uppercase;
                    @extend .font-26;
                    color: $verde-claro;
                    padding-bottom: 15px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid $gris-1;
                }
                .producto-desc {
                    @extend .font-14;
                    color: $gris-2;
                }
            }
            .producto-specs-area {
                margin-top: 20px;
                width: 80%;
                .titulo {
                    @extend .font-18;
                    color: $verde-oscuro;
                    @extend .uppercase;
                }
                .producto-specs {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    .producto-specs-box {
                        width: 48%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin: 15px 0;
                        .icono {
                            width: 36px;
                            img {
                                width: 100%;
                                height: auto;
                                object-fit: contain;
                            }
                        }
                        .tipo-box {
                            margin-left: 10px;
                            padding-left: 10px;
                            border-left: 1px solid $gris-1;
                            span {
                                display: block;
                                line-height: 80%;
                                &.tipo {
                                    @extend .light;
                                    color: $gris-2;
                                    @extend .font-12;
                                }
                                &.desc {
                                    color: $verde-claro;
                                    @extend .font-14;
                                }
                            }
                        }
                    }
                }
            }
            &:before {
                mask-image: url(img/corner-left.svg);
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: $verde-claro;
                width: 40%;
                height: 30%;
                position: absolute;
                right: -1px;
                bottom: 0;
                display: block;
                content: "";
                transform: rotate3d(0, 0, 1, 180deg);
                z-index: 3;
            }
        }
        .producto-slider-area {
            position: absolute;
            right: 0;
            top: 50%;
            height: 70%;
            transform: translateY(-50%);
            width: 26%;
            z-index: 5;
            .producto-formato-slider {
                height: 100%;
                .slick-list {
                    height: 100%;
                    .slick-track {
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        .slide {
                            height: 100%;
                            .producto-formato {
                                @extend .flex;
                                @extend .align-end;
                                @extend .justify-start;
                                width: 100%;
                                height: 100%;
                                .producto-imagen {
                                    height: 100%;
                                    width: 70%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    img {
                                        max-height: 100%;
                                        max-width: 100%;
                                        object-fit: contain;
                                    }
                                }
                                .producto-nombre {
                                    h5 {
                                        @extend .font-16;
                                        @extend .bold;
                                        color: $verde-oscuro;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }
                }
                .slick-dots {
                    left: 0;
                    right: 0;
                    bottom: -25px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    li {
                        background-color: rgba($verde-oscuro, 0.5);
                        &.slick-active {
                            background-color: $verde-oscuro;
                        }
                    }
                }
            }
        }
        &:nth-child(even) {
            .producto-data {
                margin-right: 0;
                margin-left: auto;
                .producto-info {
                    margin-right: 0;
                    margin-left: auto;
                }
                .producto-specs-area {
                    margin-right: 0;
                    margin-left: auto;
                }
                &:before {
                    mask-image: url(img/corner-left.svg);
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    background-color: $verde-claro;
                    width: 40%;
                    height: 30%;
                    position: absolute;
                    left: -1px;
                    bottom: 0;
                    display: block;
                    content: "";
                    transform: rotate3d(1, 0, 0, 180deg);
                    z-index: 3;
                }
            }
            .producto-slider-area {
                right: auto;
                left: 0;
                .producto-formato-slider {
                    .slick-list {
                        .slick-track {
                            .slide {
                                .producto-formato {
                                    flex-direction: row-reverse;
                                    .producto-nombre {
                                        h5 {
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
