.modal {
    overflow: hidden;
    z-index: 10;
    display: none;
    top: 0;
    left: 0;
    @extend .z-index-10;
    @extend .col-100;
    @extend .height-100;
    @extend .fixed;
    @include clearfix;
    .close {
        position: absolute;
        z-index: 10;
        color: $blanco;
        right: 20%;
        top: 15%;
        font-size: 20px;
        cursor: pointer;
        @extend .transition-slow;
        @include border-radius(50px);
        &:hover {
            @include rotate(-90deg);
        }
    }
    .modal-background {
        @extend .col-100;
        @extend .height-100;
        @extend .fixed;
        background-color: rgba($negro, 0.7);
    }
    .content-modal {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 60%;
        height: 60vh;
        background-color: $blanco;
        overflow-y: auto;
        @extend .z-index-1;
        @extend .absolute;
        @extend .border-radius-m;
        @include border-radius(5px);
        iframe {
            border: none;
            width: 100%;
            height: 60vh;
            @include border-radius(5px);
        }
    }
}
