.buscador-organigrama {
    .buscador-heading {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 320px;
        .photo {
            overflow: hidden;
            @extend .border-radius-m;
            @extend .box-shadow;
            .veil {
                background-color: rgba($negro, 0.6);
                backdrop-filter: blur(2px);
            }
        }
        .buscador-box {
            position: relative;
            z-index: 3;
            width: 90%;
            max-width: 430px;
            h2 {
                text-align: center;
                color: $blanco;
                @extend .font-26;
                margin-bottom: 15px;
            }
            .search-input-area {
                width: 100%;
                max-width: 725px;
                height: 50px;
                position: relative;
                input {
                    border-radius: 100rem;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($blanco, 0.95);
                    padding: 0.5rem 2rem;
                    font-size: 18px;
                }
                .btn-search {
                    background-color: $verde-claro;
                    font-size: 24px;
                    color: $blanco;
                    width: max-content;
                    position: absolute;
                    z-index: 2;
                    right: 5px;
                    top: 5px;
                    height: 40px;
                    padding: 1rem 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100rem;
                    &:hover {
                        background-color: $blanco;
                        color: $verde-claro;
                    }
                }
                .resultado-sugerencia {
                    padding: 0.5rem 1rem;
                    background-color: $blanco;
                    min-height: 0;
                    max-height: 300px;
                    overflow-y: scroll;
                    @extend .box-shadow;
                    @extend .border-radius-s;
                    .employee {
                        padding: 0.5rem;
                        &:hover {
                            background-color: $verde-claro;
                            color: $blanco;
                            border-radius: 1rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
.resultado-busqueda {
    .resultado-area {
        background-color: $blanco;
        @extend .border-radius-m;
        -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
        padding: 30px;
        .heading-area {
            @extend .flex;
            @extend .align-center;
            @extend .justify-between;
            width: 100%;
            .back-btn {
                color: $verde-oscuro;
                @extend .font-12;
                @extend .light;
                font-family: $secondary_font;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            .search-input-area {
                width: 100%;
                max-width: 315px;
                height: 40px;
                position: relative;
                input {
                    border-radius: 100rem;
                    width: 100%;
                    height: 100%;
                    background-color: $gris-1;
                    padding: 0.5rem 2rem;
                    font-size: 16px;
                }
                .btn-search {
                    background-color: $verde-claro;
                    font-size: 22px;
                    color: $blanco;
                    width: max-content;
                    position: absolute;
                    z-index: 2;
                    right: 5px;
                    top: 5px;
                    height: 25px;
                    padding: 1rem 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100rem;
                    &:hover {
                        background-color: $blanco;
                        color: $verde-claro;
                    }
                }
            }
        }
        .resultado-content {
            @extend .flex;
            @extend .align-center;
            @extend .justify-between;
            width: 100%;
            margin-top: 30px;
            .person-data {
                @extend .flex;
                @extend .align-start;
                @extend .justify-between;
                width: 55%;
                .person-avatar-box {
                    margin: 0 35px;
                    .profile-img {
                        width: 175px;
                        height: 175px;
                        border-radius: 1000px;
                        overflow: hidden;
                        background-position: center top;
                    }
                }
                .person-info-box {
                    margin: 0 50px;
                    padding: 25px 0;
                    position: relative;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        content: "";
                        width: 60%;
                        height: 4px;
                        background-color: $verde-claro;
                    }
                    .nombre {
                        @extend .font-24;
                        color: $verde-oscuro;
                        margin-bottom: 20px;
                    }
                    .cargo {
                        @extend .font-16;
                        @extend .light;
                        color: $verde-claro;
                    }
                    .contact-info {
                        margin-top: 20px;
                        padding-top: 25px;
                        border-top: 1px solid $gris-1;
                        .contact-link {
                            display: flex;
                            align-items: flex-start;
                            justify-content: flex-start;
                            color: $verde-claro;
                            margin-bottom: 25px;
                            .icono {
                                @extend .font-16;
                                width: 20%;
                                text-align: center;
                            }
                            .texto {
                                width: 80%;
                                @extend .font-12;
                            }
                        }
                    }
                }
            }
            .organigrama-data {
                flex-grow: 1;
                background-color: $gris-3;
                padding: 50px 45px;
                @extend .border-radius-m;
                align-self: stretch;
                max-height: 470px;
                overflow-y: scroll;
                .organigrama-container {
                    height: 100%;
                    @extend .flex;
                    @extend .align-start;
                    @extend .justify-start;
                    flex-direction: column;
                    .person-box {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;
                        .person-avatar-box {
                            margin-right: 20px;
                            .profile-img {
                                width: 70px;
                                height: 70px;
                                border-radius: 1000px;
                                overflow: hidden;
                                background-position: center top;
                            }
                        }
                        .person-info-box {
                            .cargo {
                                color: $verde-oscuro;
                                @extend .font-12;
                                @extend .light;
                                @extend .uppercase;
                            }
                            .nombre {
                                @extend .font-16;
                                @extend .bold;
                            }
                        }
                        &.current-person {
                            .person-avatar-box {
                                .profile-img {
                                    border: 2px solid $verde-claro;
                                    background-position: center top;
                                }
                            }
                            .person-info-box {
                                .cargo {
                                    color: $verde-claro;
                                }
                                .nombre {
                                    color: $verde-oscuro;
                                }
                            }
                        }
                        &.level-one {
                            z-index: 1;
                            .person-avatar-box {
                                position: relative;
                                .profile-img {
                                    background-position: center top;
                                }
                                &:after {
                                    position: absolute;
                                    width: 70px;
                                    height: 85px;
                                    border-left: 2px solid $verde-claro;
                                    border-bottom: 2px solid $verde-claro;
                                    display: block;
                                    content: "";
                                    left: 35px;
                                    border-bottom-left-radius: 15px;
                                }
                            }
                        }
                        &.level-two {
                            z-index: 3;
                            margin-left: 15%;
                            margin-top: 50px;
                            margin-bottom: 50px;
                        }
                        &.level-three {
                            z-index: 1;
                            margin-left: 30%;
                            margin-bottom: 25px;
                            .person-avatar-box {
                                position: relative;
                                .profile-img {
                                    position: relative;
                                    z-index: 2;
                                    background-position: center top;
                                }
                                &:after {
                                    z-index: 1;
                                    position: absolute;
                                    width: 50px;
                                    height: 115px;
                                    border-left: 2px solid $verde-claro;
                                    border-bottom: 2px solid $verde-claro;
                                    display: block;
                                    content: "";
                                    left: -22px;
                                    bottom: 50%;
                                    border-bottom-left-radius: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
