@media (max-width: $breakpoint-tablet) {
    #login-header {
        float: none;
        width: 70%;
        position: absolute;
        left: 0;
        overflow: visible;
        .brand-area {
            padding: 20px;
            a {
                width: 70px;
            }
            &:before {
                width: 80%;
                height: 95px;
            }
        }
    }
    .login-screen {
        .wrap-xl {
            .login-content {
                display: flex !important;
                flex-direction: column-reverse !important;
                .flags-date {
                    .flags-area {
                        .flag-list {
                            display: flex !important;
                            flex-wrap: wrap;
                            justify-content: center !important;
                            li {
                                width: max-content !important;
                                float: none !important;
                                .flag {
                                    display: none;
                                }
                                &:first-child {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
                .form-login-area {
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                .empresas-ccu-area {
                    display: none;
                }
            }
        }
        .bg-image {
            .veil {
                &:before {
                    width: 310%;
                    height: 50%;
                    left: -150%;
                }
            }
        }
    }
    #side-header {
        width: 100%;
        z-index: 9999;
        left: 0;
        opacity: 0;
        pointer-events: none;
        padding: 0 0 25px;
        transition: 350ms all ease-in-out;
        transform: translateX(35px);
        .brand-area {
            display: none;
        }
        .mobile-menu-heading {
            background-color: $verde-oscuro;
            padding: 10px 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .menu-title {
                flex-grow: 1;
                span {
                    font-size: 16px;
                    font-weight: 700;
                    font-family: $secondary-font;
                    color: $blanco;
                }
            }
            .close-menu-area {
                #close-menu {
                    font-size: 16px;
                    color: $blanco;
                    cursor: pointer;
                }
            }
        }
        &.active-menu {
            opacity: 1;
            pointer-events: all;
            transform: translateX(0);
        }
    }
    main {
        width: 100%;
        font: none;
    }
    .top-header {
        margin-bottom: 30px;
        .mobile-pre-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $verde-claro;
            padding: 20px;
            .brand-area {
                width: 85px;
                a {
                    display: block;
                    width: 100%;
                    .logo-site {
                        width: 100%;
                    }
                }
            }
            #hamburger {
                width: 30px;
                height: 20px;
                cursor: pointer;
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $blanco;
                }
            }
        }
        .pre-head {
            .content {
                display: flex !important;
                align-items: center !important;
                justify-content: space-between;
                .currency-area {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .dolar-valor,
                    .uf-valor {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .name,
                        .icon-indicators {
                            display: none;
                        }
                    }
                    .splitter {
                        display: none;
                    }
                }
                .time-area {
                    margin-left: 0;
                    .icon-clock {
                        display: none;
                    }
                }
            }
        }
        .mid-head {
            .content {
                display: block;
                .today-div {
                    #current-date {
                        text-align: center;
                        width: 100%;
                        display: block;
                    }
                }
                .countries-area {
                    justify-content: space-between;
                    .slogan {
                        border-right: none;
                        padding-right: 0;
                        margin-right: 0;
                        text-align: center;
                    }
                    .flag-list {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-top: 0.5rem;
                        li {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-left: 0.5rem;
                            padding-left: 0.15rem;
                            position: relative;
                            width: max-content !important;
                            margin-bottom: 0.5rem;
                            font: none;
                            .flag {
                                display: none;
                            }
                            &:first-child {
                                margin-left: 0;
                                padding-left: 0;
                                span {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .bot-head {
            display: none;
        }
    }
    .content {
        .heading-box-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn-ver-todas {
                justify-content: flex-end;
            }
        }
    }
    .aldia-home {
        .slider-area {
            #aldia-home-slider {
                .slide {
                    .slide-content {
                        .content {
                            .button-area {
                                margin-top: 25px;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
    .home-main-container {
        .box-section {
            &.box-full {
                width: 100%;
            }
            &.box-two-third {
                width: 100%;
            }
            &.box-half {
                width: 100%;
            }
            &.box-third {
                width: 100%;
            }
        }
    }
    .modal-cambios {
        height: 90vh !important;
        width: 95% !important;
        .modal-heading {
            padding: 20px;
            .date-selector-area {
                .icon-box {
                    display: none;
                }
            }
        }
        .cambios-container {
            padding: 20px;
            #cambios-tabs {
                .tabs-triggers {
                    align-items: flex-end;
                    li {
                        a {
                            font-size: 12px !important;
                        }
                    }
                }
                .tab-content {
                    .persona-caja {
                        padding: 20px;
                        .content-persona {
                            .foto-persona {
                                width: 64px !important;
                                height: 64px !important;
                            }
                            .info-persona {
                                width: 100%;
                                padding: 0;
                            }
                        }
                    }
                    .slider-area {
                        #slider-gerentes {
                            .slide {
                                transition: all 500ms ease-in-out;
                                .content {
                                    .info-gerente {
                                        margin-top: 15px;
                                        .evento,
                                        .data {
                                            opacity: 1;
                                        }
                                        &:before {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .box-content-area {
        .content {
            .button-area {
                margin-top: 20px;
                text-align: left;
            }
        }
    }
    #about-us-boxes {
        .page-title-area {
            margin-bottom: 30px;
        }
        .about-box {
            padding: 20px;
            &.horizontal-box {
                & > .box-content {
                    margin: 0;
                    padding: 0;
                }
            }
            #p1 {
                border-right: none;
                border-bottom: 1px solid $verde-claro !important;
                margin-bottom: 25px;
                padding-bottom: 25px;
            }
            &.is-burdeo {
                margin-bottom: 20px;
            }
            #p5 {
                padding-right: 0;
                border-right: none;
                border-bottom: 1px solid $celeste !important;
                margin-bottom: 25px;
                padding-bottom: 25px;
            }
            #p6 {
                padding-bottom: 25px;
            }
            #p7 {
                padding-top: 25px;
                .info-1 {
                    .col-100 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .paragraph {
                        text-align: center;
                    }
                }
                .info-2 {
                    margin: 20px 0;
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .arrow {
                    img {
                        display: block;
                        margin: 0 auto;
                    }
                }
                .info-3 {
                    .flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        .data-1,
                        .data-2 {
                            flex-grow: 2;
                        }
                        .arrow {
                            width: 12px;
                        }
                    }
                }
            }
            #p9 {
                .content-box-area {
                    .flex {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
            &.is-amarillo {
                margin-top: 20px;
            }
        }
    }

    #about-timeline {
        .slider-3-container {
            .slider-3 {
                .slide {
                    .content {
                        display: block;
                        padding: 120px 10% 20px;
                        & > * {
                            width: 100% !important;
                        }
                        .image-area {
                            max-height: max-content;
                            img {
                                object-fit: unset;
                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    #paises-ccu {
        width: 100%;
        display: flex;
        align-items: center;
        .tabs-triggers {
            position: relative;
            left: 0;
            top: 0;
            transform: none;
            li {
                a {
                    font-size: 13px;
                }
            }
        }
        .tab-content {
            flex-grow: 1;
            .content {
                .map-area {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    overflow: hidden;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
                .country-content {
                    margin: 0 auto;
                    max-width: 100%;
                    width: 100%;
                    overflow: hidden;
                    z-index: 3;
                    position: relative;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    .country-info {
                        background-color: $blanco;
                        padding: 25px;
                        .logo-country {
                            display: block;
                            width: auto;
                            height: 45px;
                        }
                        p {
                            margin: 20px 0;
                        }
                    }
                }
                .veil {
                    pointer-events: none;
                    width: 40%;
                    opacity: 0;
                }
            }
        }
    }
    .page-heading {
        &.simple-heading {
            .content {
                position: relative;
                z-index: 3;
            }
        }
    }
    .page-content-area {
        .page-content {
            padding: 20px 10px;
        }
        .wysiwyg {
            .modelo-gestion {
                width: 100%;
            }
        }
    }
    .news-area {
        &.layout-one-four-feat {
            .layout-news-area {
                width: 100%;
                .small-news-area {
                    min-width: 100%;
                }
            }
        }
        &.layout-one-third {
            .layout-news-area {
                width: 100%;
                .small-news-area {
                    min-width: 100%;
                }
            }
        }
        &.layout-three-fourth-feat,
        &.layout-one-feat,
        &.layout-one-last-feat {
            .layout-news-area {
                margin: 0;
                .small-news-area {
                    margin: 10px 0;
                }
            }
        }
    }
    .small-news-area {
        &.video-type {
            .content {
                .content-area {
                    .play-area {
                        width: 34px !important;
                        margin-bottom: 10px;
                        float: none !important;
                    }
                }
            }
        }
    }
    .person-group-area {
        .person-box {
            max-width: 200px;
            margin: 0 auto 20px;
        }
    }
    .shortcuts-area {
        .shortcuts-boxes {
            .shortcut-box {
                margin-bottom: 10px;
            }
        }
    }

    .icono-color-area {
        .icono-color-box {
            margin: 10px 0 !important;
            .content-box {
                padding: 30px 20px 30px;
            }
        }
    }
    .row-area {
        .box-section {
            margin: 20px 0 !important;
        }
    }
    .filters-area {
        #filters {
            .filter-box {
                margin: 0 0 15px;
                text-align: center;
                .select-box {
                    width: 100%;
                    .select-input {
                        width: 100%;
                    }
                }
            }
        }
    }
    #all-marcas {
        .marcas-container {
            .marcas-area {
                justify-content: space-between;
                .marca-box {
                    max-width: 150px;
                    height: max-content;
                    margin: 20px 0;
                    .marca-info {
                        align-items: center;
                        .description {
                            display: none;
                        }
                        .btn {
                            padding: 0.75rem;
                            font-size: 10px;
                        }
                    }
                    .marca-data {
                        .img {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
    .tabs-area {
        #activar-map {
            display: none;
        }
        #map-canvas {
            position: relative;
        }
    }
    .manuales-section {
        .manuales-area {
            margin: 10px 0;
            .manual-box {
                margin: 10px 0;
                max-width: 100%;
            }
        }
    }
    .file-box {
        .file-size {
            .icono {
                margin-bottom: 15px;
                img {
                    width: 15%;
                }
            }
        }
    }
    .slide-events-area {
        .slider-area {
            height: 500px;
        }
    }

    #floating-shortcuts {
        display: flex;
        width: 80%;
        max-width: 240px;
        position: fixed;
        z-index: 9;
        background-color: $verde-oscuro;
        padding: 15px 35px;
        border-radius: 300px;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-box-shadow: 0px 20px 10px -15px rgba(0, 0, 0, 0.45);
        box-shadow: 0px 20px 10px -15px rgba(0, 0, 0, 0.45);
        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .home-shortcut {
            .link {
                text-align: center;
                font-size: 30px;
                color: $blanco;
            }
        }
        .search-shortcut {
            flex-grow: 1;
            .link {
                text-align: center;
                font-size: 30px;
                color: $verde-claro;
            }
        }
        .profile-shortcut {
            .avatar {
                width: 35px;
                height: 35px;
                overflow: hidden;
                border-radius: 300px;
                border: 2px solid $verde-claro;
                cursor: pointer;
                .profile {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .p-modal {
        .p-modal-area {
            flex-direction: column;
            .intro-area {
                width: 100%;
                padding: 20px;
            }
            .content-area {
                width: 100%;
                padding: 20px;
            }
        }
        .slide-area {
            height: 350px;
            #slider-p6 {
                .slide {
                    height: 100%;
                }
            }
        }
    }
    .informes-area {
        grid-template-columns: none;
    }
    #modelo-gestion {
        .consumo-responsable {
            width: 100%;
            padding: 0;
            margin: 30px auto;
            p {
                margin: 0;
            }
            #model {
                opacity: 1;
                &.activePie {
                    opacity: 0;
                    transform: none;
                }
            }
            .container-characteristics {
                .characteristics {
                    top: 60%;
                    left: 0;
                    margin: 0 auto;
                }
            }
        }
    }
    .grafico-consumo {
        .consumo-responsable {
            width: 100%;
            padding: 0;
            margin: 30px auto;
            .box-pie {
                transform: scale(0.4) translateX(-22%);
                .pieContainer {
                    opacity: 1;
                    &.activePie {
                        opacity: 0;
                        transform: none;
                        left: 0;
                    }
                }
            }
            .container-characteristics {
                .characteristics {
                    width: 100%;
                }
            }
        }
    }

    #activar-compromiso {
        width: 100%;
        white-space: break-spaces;
        height: auto;
        line-height: 120%;
    }

    .resultado-busqueda {
        .resultado-area {
            padding: 20px;
            .resultado-content {
                .person-data {
                    .person-avatar-box {
                        margin: 0 auto 20px;
                        .profile-img {
                            margin: 0 auto;
                        }
                    }
                    .person-info-box {
                        margin: 0 auto;
                        .nombre,
                        .cargo,
                        h4 {
                            text-align: center;
                        }
                        &:before {
                            right: 0;
                            margin: 0 auto;
                        }
                        .contact-info {
                            .contact-link {
                                justify-content: center;
                                .texto {
                                    width: max-content;
                                }
                            }
                        }
                    }
                }
                .organigrama-data {
                    padding: 20px;
                }
            }
        }
    }

    .single-marca-heading {
        &.page-heading {
            &:before {
                transform: rotateX(180deg) rotateY(180deg);
                left: auto;
                right: -1px;
                top: auto;
                bottom: 0;
                width: 100%;
                height: 30%;
                background-color: rgba($verde-claro, 0.85);
            }
        }
        .content-area {
            flex-direction: column-reverse;
            display: flex;
            .content {
                .marca-logo {
                    width: 105px;
                    height: 105px;
                    margin: 0 20px 20px auto;
                }
            }
        }
    }

    .all-productos-marca {
        margin-top: 30px;
        .producto-area,
        .producto-area:nth-child(even) {
            display: flex;
            flex-direction: column-reverse;
            .producto-data {
                padding: 360px 20px 30px;
                width: 100%;
                .producto-info {
                    width: 100%;
                }
                &:before {
                    top: 0;
                    bottom: auto;
                    left: -1px;
                    right: auto;
                    transform: rotate3d(0, 0, 1, 0);
                    width: 95%;
                    height: 100px;
                }
                .producto-specs-area {
                    width: 100%;
                    margin: 20px 0 0;
                    .producto-specs {
                        .producto-specs-box {
                            .icono {
                                width: 25%;
                            }
                            .tipo-box {
                                width: 75%;
                                span.tipo {
                                    font-size: 11px;
                                }
                                span.desc {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
            .producto-slider-area {
                position: relative;
                right: 0;
                top: 0;
                height: 450px;
                transform: translateY(0);
                width: 100%;
                z-index: 5;
                margin-bottom: -310px;
                .producto-formato-slider {
                    .slick-list {
                        .slick-track {
                            .slide {
                                .producto-formato {
                                    position: relative;
                                    padding-bottom: 70px;
                                    .producto-nombre {
                                        position: absolute;
                                        bottom: 0;
                                        h5 {
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .slick-dots {
                        bottom: 40px;
                    }
                }
            }
        }
    }

    .contact-persons-area {
        .persons-area {
            grid-template-columns: repeat(1, minmax(100px, 1fr));
        }
    }

    .categories-container {
        .categories-area {
            .btn {
                margin: 5px;
            }
        }
    }

    #floating-profile {
        width: 100%;
        z-index: 9999;
        background-color: $verde-claro;
        position: fixed;
        top: 0;
        opacity: 0;
        pointer-events: none;
        padding: 0 0 25px;
        transition: 350ms all ease-in-out;
        transform: translateY(35px);
        height: 100%;
        .mobile-menu-heading {
            background-color: $verde-oscuro;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .menu-title {
                flex-grow: 1;
                span {
                    font-size: 16px;
                    font-weight: 700;
                    font-family: $secondary-font;
                    color: $blanco;
                }
            }
            .close-menu-area {
                #close-profile {
                    font-size: 16px;
                    color: $blanco;
                    cursor: pointer;
                }
            }
        }
        &.active-menu {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
        .user-area {
            background-color: $blanco;
            padding: 30px 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .avatar-box {
                position: relative;
                width: 80px;
                height: 80px;
                margin-bottom: -20px;
                margin-right: 15px;
                .avatar {
                    width: 100%;
                    height: 100%;
                    border-radius: 100rem;
                    overflow: hidden;
                    border: 2px solid $blanco;
                    .profile {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
            }
            .info-box {
                flex-grow: 1;
                width: 50%;
                .name {
                    span {
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 700;
                        color: $verde-oscuro;
                        line-height: 100%;
                    }
                }
                .range {
                    line-height: 100%;
                    span {
                        display: inline-block;
                        font-size: 13px;
                        text-transform: uppercase;
                        font-weight: 300;
                        color: $verde-claro;
                        line-height: 80%;
                    }
                }
            }
        }
        .user-menu {
            width: 100%;
            padding: 50px 20px 0;
            .links {
                padding-top: 30px;
                border-top: 1px solid $blanco;
                .out-link {
                    color: $blanco;
                    font-family: $secondary-font;
                    font-size: 14px;
                    margin: 0 0 25px;
                    font-weight: 700;
                    display: block;
                }
            }
            .logout-btn {
                margin-top: 10px;
                a {
                    color: $blanco;
                    font-size: 14px;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
    #floating-search {
        width: 100%;
        z-index: 9999;
        background-color: $verde-claro;
        position: fixed;
        top: 0;
        opacity: 0;
        pointer-events: none;
        padding: 0 0 25px;
        transition: 350ms all ease-in-out;
        transform: translateY(35px);
        height: 100%;
        .mobile-menu-heading {
            background-color: $verde-oscuro;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .menu-title {
                flex-grow: 1;
                span {
                    font-size: 16px;
                    font-weight: 700;
                    font-family: $secondary-font;
                    color: $blanco;
                }
            }
            .close-menu-area {
                #close-search {
                    font-size: 16px;
                    color: $blanco;
                    cursor: pointer;
                }
            }
        }
        &.active-menu {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
        .search-area {
            padding: 20px;
            form {
                width: 100%;
                max-width: 725px;
                display: block;
            }
            .search-input-area {
                width: 100%;
                height: 50px;
                position: relative;
                input {
                    border-radius: 100rem;
                    width: 100%;
                    height: 100%;
                    background-color: $blanco;
                    padding: 0.5rem 2rem;
                    font-size: 18px;
                }
                .btn-search {
                    background-color: $verde-claro;
                    font-size: 24px;
                    color: $blanco;
                    width: max-content;
                    position: absolute;
                    z-index: 2;
                    right: 5px;
                    top: 5px;
                    height: 40px;
                    padding: 1rem 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100rem;
                    &:hover {
                        background-color: $blanco;
                        color: $verde-claro;
                    }
                }
            }
        }
    }
} //Se termina el media
