.sub-heading-area {
    .head-page {
        padding: 0 50px;
        h1 {
            @extend .font-50;
            color: $verde-oscuro;
            text-transform: uppercase;
        }
    }
}
.page-content-area {
    .wysiwyg {
        .page-title {
            @extend .font-55;
            margin: 0 0 100px;
        }
        .modelo-gestion {
            display: block;
            margin: 60px auto;
        }
        a {
            box-shadow: none;
        }
        .logo-ftse4good {
            display: block;
            margin: 40px auto;
            width: 90%;
            max-width: 340px;
            height: auto;
        }
        &.force-burdeo {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $burdeo !important;
            }
        }
        &.force-celeste {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $celeste !important;
            }
        }
        &.force-amarillo {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $amarillo !important;
            }
        }
    }
}
.person-group-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .person-box {
        max-width: 160px;
        width: 100%;
        .person-img {
            width: 100%;
            height: 225px;
            overflow: hidden;
            @extend .border-radius-m;
            -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        }
        .person-info {
            width: 100%;
            margin-top: 20px;
            padding-bottom: 20px;
            @extend .relative;
            .cargo {
                font-weight: 300;
                color: $verde-oscuro;
                @extend .font-12;
                @extend .uppercase;
            }
            .nombre {
                @extend .font-18;
                font-weight: 700;
            }
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 80px;
                height: 5px;
                content: "";
                background-color: $verde-claro;
            }
        }
    }
}

.shortcuts-area {
    margin: 50px 0;
    h4 {
        color: $verde-oscuro;
        font-family: $extra_font;
        @extend .font-26;
    }
    .shortcuts-boxes {
        width: 100%;
        @extend .flex;
        @extend .align-center;
        @extend .justify-between;
        flex-wrap: wrap;
        margin-top: 50px;
        .shortcut-box {
            flex-grow: 1;
            flex-basis: 0;
            flex-shrink: 1;
            max-width: 320px;
            padding: 7px;
            a {
                width: 100%;
                white-space: break-spaces;
                height: auto;
                line-height: 120%;
            }
        }
    }
}

.ods-boxes {
    width: 100%;
    max-width: 840px;
    margin: 50px auto;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    .ods-box {
        display: block;
        width: 120px;
        height: 120px;
        margin: 10px;
        @extend .transition;
        &:hover {
            -webkit-box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
        }
    }
}

.informes-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    margin: 40px -10px;
    .informe-box {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        overflow: hidden;
        padding: 40px;
        align-self: stretch;
        margin: 10px;
        background-color: $blanco;
        @extend .border-radius-m;
        @extend .box-shadow;
        @extend .transition;
        position: relative;
        .portada {
            width: 47%;
            height: 100%;
            background-color: $blanco;
            position: relative;
            z-index: 2;
            .portada-img {
                width: 100%;
                height: 100%;
            }
            img {
                width: 100%;
            }
        }
        .titulo {
            position: relative;
            width: 47%;
            z-index: 2;
            h4 {
                @extend .font-24;
                color: $verde-claro;
                margin-bottom: 20px;
            }
        }
        &:before {
            mask-image: url(img/corner-left.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            background-color: rgba($verde-claro, 0.35);
            width: 80%;
            height: 50%;
            position: absolute;
            right: -1px;
            bottom: 0;
            top: auto;
            display: block;
            content: "";
            transform: rotate3d(0, 0, 1, 180deg);
            z-index: 1;
        }
        &:hover {
            -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
        }
    }
}
.videos-charlas-area {
    margin: 40px 0;
    .small-news-area {
        overflow: hidden;
        .photo {
            @extend .transition-slow;
            .veil {
                @extend .transition-slow;
            }
        }
        .play-area {
            margin-bottom: 15px;
        }
        &:hover {
            .photo {
                transform: scale(1.05);
                .veil {
                    opacity: 0.5;
                }
            }
        }
    }
}
.noticias-sustentabilidad-area {
    margin: 40px 0;
}
.comite-area {
    margin: 40px 0;
    .titulo {
        color: $verde-oscuro;
        font-family: $extra_font;
        @extend .font-26;
        margin-bottom: 30px;
    }
    .descripcion {
        margin-bottom: 50px;
    }
}

.modal-eje {
    .modal-contenido {
        padding: 30px;
        width: 100%;
    }
}
