@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?fwtrqf");
  src: url("icomoon.eot?fwtrqf#iefix") format("embedded-opentype"), url("icomoon.ttf?fwtrqf") format("truetype"), url("icomoon.woff?fwtrqf") format("woff"), url("icomoon.svg?fwtrqf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e900"; }

.icon-serccu:before {
  content: "\e901"; }

.icon-sustentabilidad:before {
  content: "\e902"; }

.icon-consumo:before {
  content: "\e903"; }

.icon-marcas:before {
  content: "\e904"; }

.icon-innovacion:before {
  content: "\e905"; }

.icon-organigrama:before {
  content: "\e906"; }

.icon-rrhh:before {
  content: "\e907"; }

.icon-noticias:before {
  content: "\e908"; }

.icon-chevron-right:before {
  content: "\e909"; }

.icon-chevron-left:before {
  content: "\e90a"; }

.icon-chevron-down:before {
  content: "\e90b"; }

.icon-chevron-up:before {
  content: "\e90c"; }
/*# sourceMappingURL=icons.css.map */