.slider-1{
	@extend .col-100;
	@extend .left;
	@extend .relative;
	@include clearfix;
	.slide{
		@extend .col-100;
		@extend .left;
		@extend .relative;
		@extend .overflow-hidden;
		@extend .relative;
		@include clearfix;
		.content{
			padding: 200px 0 100px 10%;
			color: $blanco;
			@extend .z-index-3;
			.pre-title{
				@extend .font-18;
			}
			.title{
				margin: 10px 0 20px;
				@extend .font-32;
				@extend .extra-bold;
			}
			.description{
				@extend .font-15;
				p{
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.button,
			a{
				background-color: $blanco;
				color: $negro;
				display: inline-block;
				margin-top: 40px;
				@extend .border-radius-xl;
				@extend .bold;
				@extend .uppercase;
				@extend .transition;
				&:hover{
					background-color: $negro;
					color: $blanco;
				}
			}
		}
		.veil{
			background-color: rgba($negro, 0.5);
		}
		.slider-numbers-container{
			width: 170px;
			height: 25px;
			margin-bottom: 50px;
			.slider-numbers{
				span{
					@extend .absolute;
					@extend .font-18;
				}
				.current{
					left: 0;
				}
				.total{
					right: 0;
				}
			}
			.timer{
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				height: 1px;
				width: 90px;
				background-color: rgba($blanco,0.25);
				figure{
					background-color: $blanco;
					height: 100%;
					margin: 0;
				}
				.counter{
					&.transform-time {
						transition-duration: 10s;
						transition-timing-function: linear;
					}
				}
			}
		}
		&.video,
		&.vimeo,
		&.youtube{
			video,
			iframe{
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				@include scale(1.3);
				@extend .absolute;
			}
			.photo{
				display: none;
			}
		}
	}
	ul.slick-dots{
		width: 10px;
		top: 50%;
		right: 10%;
		li{
			margin: 2.5px 0;
		}
	}
}


@media (max-width: $breakpoint-tablet){
	.slider-1{
		.slide{
			.content{
				width: 100%;
				padding: 120px 10%;
			}
			&.video,
			&.vimeo,
			&.youtube{
				iframe,
				video{
					display: none;
				}
				.photo{
					display: block;
				}
			}
		}
		ul.slick-dots{
			width: 80%;
			right: 10%;
			bottom: 50px;
			top: inherit;
			li{
				margin: 0 2.5px;
			}
		}
		.slider-numbers-container{
			margin-bottom: 25px !important;
		}
	}
}
