.slider-2{
	@extend .col-100;
	@extend .left;
	@extend .relative;
	@include clearfix;
	.slick-list{
		margin: 0 100px;
		.slide{
			height: 100px;
			display: flex;
			@extend .align-center;
			@extend .justify-center;
			img{
				width: 80%;
				height: 70%;
				object-fit: contain;
			}
		}
	}
	ul.slick-dots{
		text-align: center;
		width: 100%;
		margin-top: 40px;
		@extend .relative;
		li{
			background-color: rgba($negro, 0.5);
			float: none;
			display: inline-block;
			&.slick-active,
			&:hover{
				background-color: $negro;
			}
		}
	}
}

@media (max-width: $breakpoint-tablet){
	.slider-2{
		.slick-list{
			margin: 0 10%;
		}
	}
	ul.slick-dots{
		margin-top: 20px !important;
	}
}
