.block-3-container{
	padding: 100px 10%;
	color: $blanco;
	@extend .col-100;
	@extend .left;
	@extend .relative;
	@include clearfix();
	.block-3,
	.main-content{
		@extend .relative;
		@extend .z-index-3;
	}
	.block-3{
		@extend .text-center;
		.content{
			i,
			.title,
			.pre-title{
				@extend .col-100;
				@extend .left;
			}
			i,
			img{
				margin-bottom: 20px;
			}
			i{
				@extend .font-42;
			}
			img{
				max-width: 100px;
				max-height: 100px;
				object-fit: contain;
			}
			.count-container{
				@extend .font-32;
				@extend .bold;
			}
			.title{
				@extend .font-21;
			}
		}
	}
	.main-content{
		margin-bottom: 80px;
		@extend .wrap-s;
		@extend .text-center;
		.pre-title{
			@extend .font-16;
			@extend .bold;
		}
		.title{
			@extend .font-30;
			@extend .bold;
		}
		.description{
			p{
				margin-bottom: 15px;
				@extend .font-16;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.veil{
		background-color: rgba($negro, 0.5);
	}
}
