.block-6{
	.block{
		padding: 20px;
		@extend .text-center;
		p,.description{
			@extend .col-100;
			@extend .left;
			@include clearfix;
		}
		img{
			max-width: 50%;
			object-fit: contain;
			display: block;
			margin: 0 auto 20px;
		}
		.number{
			@extend .bold;
			@extend .font-70;
		}
		.title{
			@extend .semibold;
			@extend .font-28;
		}
		.description{
			margin-top: 20px;
			p{
				@extend .font-15;
				@extend .regular;
				&:not(:last-child){
					margin-bottom: 20px;
				}
			}
		}
	}
}
