.slider-6-container{
	@extend .overflow-hidden;
	@extend .col-100;
	@extend .left;
	@extend .relative;
	@include clearfix;
	.slider-6{
		.slide{
			height: 70vh;
			background-color: $negro;
			@extend .col-100;
			@extend .left;
			@extend .relative;
			@extend .overflow-hidden;
			@extend .relative;
			@include clearfix;
			&.video,
			&.vimeo,
			&.youtube{
				video,
				iframe{
					height: 100%;
					object-fit: contain;
					@extend .col-100;
				}
				.photo{
					display: none;
				}
			}
		}
		ul.slick-dots{
			width: auto;
			top: 20px;
			left: 0;
			right: 0;
			@extend .text-center;
			li{
				display: inline-block;
				margin: 0 1.5px;
				float: none;
			}
		}
	}
	.slider-6-nav{
		height: 150px;
		bottom: -100px;
		left: 0;
		@extend .transition-slower;
		@extend .col-100;
		@extend .absolute;
		@extend .z-index-2;
		.slick-list,
		.slick-list .slick-track{
			height: 100%;
		}
		.slide{
			margin: 0 10px;
			cursor: pointer;
			@extend .col-100;
			@extend .left;
			@extend .relative;
			@extend .overflow-hidden;
			@include clearfix;
			iframe,
			video{
				width: 100%;
				height: 100%;
				object-fit: cover;
     		pointer-events: none;
				&::-webkit-media-controls-start-playback-button{
					display: none;
				}
			}
		}
		&:hover{
			bottom: 20px;
		}
	}
}

@media (max-width: $breakpoint-phone){
	.slider-6-container{
		.slider-6-nav{
			display: none;
		}
	}
}
