/*------------------------------------------------------*/
/*--------------------- CLEARFIX -----------------------*/
/*------------------------------------------------------*/
.clearfix {
    @include clearfix;
}

/*------------------------------------------------------*/
/*------------------- CONTENEDORES ---------------------*/
/*------------------------------------------------------*/
.wrap-xl,
.wrap-l,
.wrap-m,
.wrap-s {
    @extend .margin-center;
    @include clearfix;
}

.wrap-xl {
    @extend .col-90;
}

.wrap-l {
    @extend .col-80;
}

.wrap-m {
    @extend .col-70;
}

.wrap-s {
    @extend .col-60;
}

/*------------------------------------------------------*/
/*------------- FLOATS, MARGIN Y PADDING ---------------*/
/*------------------------------------------------------*/
.display-none {
    display: none;
}

.display-block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.margin-center {
    margin: 0 auto;
    display: block;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/*------------------------------------------------------*/
/*--------------------- POSICIONES ---------------------*/
/*------------------------------------------------------*/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

/*------------------------------------------------------*/
/*---------------------- GRÁFICA -----------------------*/
/*------------------------------------------------------*/
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.no-grayscale {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.cover {
    background-size: cover;
    background-position: center center;
}
img {
    &.cover {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
.simpleParallax,
.photo,
.veil {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
}

.veil {
    z-index: 2;
}

.overflow-hidden {
    overflow: hidden;
}

/*------------------------------------------------------*/
/*---------------- MEDIDAS DEL RESPONSIVE --------------*/
/*------------------------------------------------------*/
$breakpoint-desktop: 1250px;
$breakpoint-tablet: 850px;
$breakpoint-phone: 550px;

/*------------------------------------------------------*/
/*--------------------- COLUMNAS -----------------------*/
/*------------------------------------------------------*/
@for $i from 1 through 100 {
    .col-#{$i} {
        width: $i * 1%;
    }
}

/*------------------------------------------------------*/
/*---------------------- GRILLAS -----------------------*/
/*------------------------------------------------------*/
@for $i from 1 through 12 {
    .gallery-columns-#{$i},
    .grid-column-#{$i} {
        display: grid;
        grid-template-columns: repeat($i, 1fr);
    }
}

.gap-s {
    grid-gap: $font * 10;
}
.gap-m {
    grid-gap: $font * 20;
}
.gap-l {
    grid-gap: $font * 35;
}
.gap-xl {
    grid-gap: $font * 50;
}

.grid-column-full {
    grid-column: 1 / -1;
}
/*------------------------------------------------------*/
/*----------------- COLUMNAS DE TEXTO ------------------*/
/*------------------------------------------------------*/
@for $i from 2 through 5 {
    .text-columns-#{$i} {
        column-count: $i;
        -webkit-column-count: $i;
        -moz-column-count: $i;
        column-gap: $font * 50;
        -webkit-column-gap: $font * 50;
        -moz-column-gap: $font * 50;
    }
}

/*------------------------------------------------------*/
/*---------------------- Z-INDEX -----------------------*/
/*------------------------------------------------------*/
@for $i from 0 through 10 {
    .z-index-#{$i} {
        z-index: $i;
    }
}

/*------------------------------------------------------*/
/*------------------------ ALTO ------------------------*/
/*------------------------------------------------------*/
.height-100 {
    height: 100vh;
}

/*------------------------------------------------------*/
/*---------------------- PARALLAX ----------------------*/
/*------------------------------------------------------*/
.simpleParallax > * {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*------------------------------------------------------*/
/*----------------- CONTENEDOR DE TABLA ----------------*/
/*------------------------------------------------------*/
.table-container {
    width: 100%;
    height: auto;
    overflow: auto;
}

/*------------------------------------------------------*/
/*-------------------- BORDER RADIUS -------------------*/
/*------------------------------------------------------*/
.border-radius-s {
    @include border-radius(5px);
}
.border-radius-m {
    @include border-radius(10px);
}
.border-radius-l {
    @include border-radius(15px);
}
.border-radius-xl {
    @include border-radius(20px);
}
