//Puede ser utilizado para un elemento que posea float entre sus estilos, tenga el alto que le corresponde
@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: block;
    }

    &:after {
        display: block;
        clear: both;
        height: 1px;
        margin-top: -1px;
        visibility: hidden;
    }
    & {
        *zoom: 1;
    }
}

//Mixin que puede ser utilizado cuando un elemento tiene display:flex;
@mixin align($position) {
    align-items: $position;
}

//Mixin que puede ser utilizado cuando un elemento tiene display:flex;
@mixin just($position) {
    justify-content: $position;
}

//Mixin que puede ser utilizado cuando un elemento tiene display:flex;
@mixin direction($position) {
    flex-direction: $position;
}

//Mixin para añadir transiciones
@mixin transition($ms) {
    -webkit-transition: all $ms ease-in-out;
    -moz-transition: all $ms ease-in-out;
    -ms-transition: all $ms ease-in-out;
    -o-transition: all $ms ease-in-out;
    transition: all $ms ease-in-out;
}

//Mixin para generar descalce en el eje Y del elemento
@mixin translateY($rem) {
    -webkit-transform: translateY($rem);
    -moz-transform: translateY($rem);
    -ms-transform: translateY($rem);
    -o-transform: translateY($rem);
    transform: translateY($rem);
}

//Mixin para generar descalce en el eje X del elemento
@mixin translateX($rem) {
    -webkit-transform: translateX($rem);
    -moz-transform: translateX($rem);
    -ms-transform: translateX($rem);
    -o-transform: translateX($rem);
    transform: translateX($rem);
}

//Mixin para generar rotación del elemento
@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

//Mixin para un generar un delay en la transición del elemento
@mixin transition-delay($ms) {
    -webkit-transition-delay: $ms;
    -moz-transition-delay: $ms;
    -ms-transition-delay: $ms;
    -o-transition-delay: $ms;
    transition-delay: $ms;
}

//Mixin para escalar un elemento
@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

//Mixin para hacer borroso un elemento
@mixin blur($rem) {
    -webkit-filter: blur($rem);
    -moz-filter: blur($rem);
    -ms-filter: blur($rem);
    -o-filter: blur($rem);
    filter: blur($rem);
}

//Mixin para la opacidad de un elemento
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

/*
Mixin para llamar a un ícono. El llamado sería, por ejemplo:
li{
	@include icomoon("icon-flecha-derecha-mediana");
}
*/
@mixin icomoon($icon, $position: "before", $replace: false) {
    @if $replace {
        font-size: 0;
    }
    &:#{$position} {
        @extend .#{$icon};
        font-family: "icomoon";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        @if $replace {
            font-size: $font * 16;
        }
        @content;
    }
}

//Mixin para generar gradiente en un elemento
@mixin linear-gradient($color-one, $color-two, $degrees) {
    background: -moz-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, $color-one),
        color-stop(100%, $color-two)
    );
    background: -webkit-linear-gradient(
        $degrees,
        $color-one 0%,
        $color-two 100%
    );
    background: -o-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    background: -ms-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    background: linear-gradient($degrees, $color-one 0%, $color-two 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
}

//Mixin para generar bordes redondeados de un elemento
@mixin border-radius(
    $top-left: null,
    $top-right: null,
    $bottom-right: null,
    $bottom-left: null
) {
    -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
    -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
    -ms-border-radius: $top-left $top-right $bottom-right $bottom-left;
    border-radius: $top-left $top-right $bottom-right $bottom-left;
}
