@media (max-width: $breakpoint-tablet) {
    /*------------------------------------------------------*/
    /*------------------- CONTENEDORES ---------------------*/
    /*------------------------------------------------------*/
    .wrap-xl,
    .wrap-l {
        width: 90%;
    }

    .wrap-m,
    .wrap-s {
        width: 80%;
    }

    /*------------------------------------------------------*/
    /*---------------------- GRILLAS -----------------------*/
    /*------------------------------------------------------*/
    @for $i from 1 through 12 {
        .gallery-columns-#{$i},
        .grid-column-#{$i} {
            display: grid;
            &.gap-s,
            &.gap-m,
            &.gap-l,
            &.gap-xl {
                grid-gap: $font * 20;
            }
            @if $i == 1 {
                grid-template-columns: repeat(1, 1fr);
            }
            @elseif $i == 2 {
                grid-template-columns: repeat(2, 1fr);
            }
            @elseif $i < 6 {
                grid-template-columns: repeat(3, 1fr);
            } @else {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }

    /*------------------------------------------------------*/
    /*----------------- COLUMNAS DE TEXTO ------------------*/
    /*------------------------------------------------------*/
    @for $i from 2 through 5 {
        .text-columns-#{$i} {
            @if $i > 2 {
                column-count: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;
            }
        }
    }

    /*------------------------------------------------------*/
    /*--------------------- TAMAÑOS  -----------------------*/
    /*------------------------------------------------------*/
    @for $i from 10 through 100 {
        .font-#{$i} {
            @if $i <= 13 {
                font-size: $font * 13;
            }
            @elseif $i <= 18 {
                font-size: $font * 16;
            }
            @elseif $i <= 25 {
                font-size: $font * 18;
            }
            @elseif $i <= 30 {
                font-size: $font * 21;
            }
            @elseif $i <= 36 {
                font-size: $font * 24;
            }
            @elseif $i <= 42 {
                font-size: $font * 28;
            }
            @elseif $i <= 52 {
                font-size: $font * 32;
            }
            @elseif $i <= 100 {
                font-size: $font * 36;
            }
        }
    }

    /*------------------------------------------------------*/
    /*---------------------- HEADER  -----------------------*/
    /*------------------------------------------------------*/
} //Se termina el media
