@media (max-width: $breakpoint-phone) {
	/*------------------------------------------------------*/
	/*------------------- CONTENEDORES ---------------------*/
	/*------------------------------------------------------*/
	.wrap-xl,
	.wrap-l,
	.wrap-m,
	.wrap-s{
		width: 90%;
	}

	/*------------------------------------------------------*/
	/*---------------------- GRILLAS -----------------------*/
	/*------------------------------------------------------*/
	@for $i from 1 through 12{
	  .gallery-columns-#{$i},
	  .grid-column-#{$i}{
			display: grid;
			grid-template-columns: repeat(1, 1fr);
		}
	}

	/*------------------------------------------------------*/
	/*----------------- COLUMNAS DE TEXTO ------------------*/
	/*------------------------------------------------------*/
	@for $i from 2 through 5{
		.text-columns-#{$i}{
			@if $i > 1{
				column-count: 1;
				-webkit-column-count: 1;
				-moz-column-count: 1;
			}
		}
	}
	/*------------------------------------------------------*/
	/*---------------------- GENERALES ---------------------*/
	/*------------------------------------------------------*/
	@for $i from 1 through 3 {
		.columns-#{$i} {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
			-webkit-column-gap: 0;
			-moz-column-gap: 0;
			column-gap: 0;
		}
	}

	/*------------------------------------------------------*/
	/*------------------------- FLEX -----------------------*/
	/*------------------------------------------------------*/
	.flex{
		display: block;
		@include clearfix;
		& > * {
			float: left;
			width: 100% !important;
			@include clearfix;
		}
	}
}//Se termina el media
